@import "compass";
@import "compass/reset";
@import "Sections/base";
	// Pseudo selectors
::selection, ::-moz-selection{
	background-color: $lightgrey;
}

/* Elements */
* {
	margin: 0;
	padding: 0;
	border: 0;
	&:focus {
		outline: none;
	}
}

body {
	font-family: $font;
}

ul {
	li {
		list-style-type: circle;
	}
}

a {
	&:link {
		cursor: pointer;
	}
	@include link-colors($darkblue, $darkblue, $darkblue, $darkblue, $darkblue);
		// skiplinks
	&.skip {
		position: absolute;
		left: -1000em;
		top: -1000em;
		height: 1px;
		width: 1px;
		&:focus, &:active {
			position: absolute;
			z-index: 1;
			top: 4px;
			left: 4px;
			height: auto;
			width: auto;
			color: #000;
			background-color: #eee;
			outline: 1px solid #999;
		}
	}
	// &:hover[href^="http"]:after{content:"\0000A0→";font-size:.85em}
}

address {
	font-style: normal;
	margin-bottom: 5px;
}

dfn {
	font-style: normal;
	cursor: help;
}

/* Forms */
fieldset {
	.powermail_check_inner label,.powermail_radio_inner label, .fieldwrap_radio label{
		float: none;
		display: inline;
		font-weight: normal;
		margin-left: 0!important;
		width: 435px;
	}
	&.tx-powermail-pi1_fieldset {
		background-color: white!important;
		padding: 0 !important;
	}
}

legend {
	font-weight: bold;
	padding: 0 0 10px 0;
}

input, textarea {
	font-family: $font;
	@include adjust-font-size-to($base-font-size * 0.9);
	border: 1px solid $lightgrey;
}

p {
	@include adjust-font-size-to($base-font-size);
}

input[type=checkbox],
input[type=radio],
input[type=button],
input[type=submit],
label,
select {
	cursor: pointer;
}

strong {
	font-weight: bold;
}

/* Template */

#wrap {
	max-width: $siteWidth;
	margin: 0 auto;
}

/* Header */
header#header {
	max-width: $siteWidth;
	height: auto;
	max-height: $headerHeight;
	background-color: $darkblue;
	width: 100%;
	a {
		text-decoration: none;
		&.linkHome {
			position: absolute;
			width: $siteWidth * 0.2;
			height: $headerHeight;
			z-index: 4242;
			text-indent: -9999px;
			overflow: hidden;
		}
	}
	img {
		width: 100%;
		max-width: $siteWidth;
		height: auto;
	}
}

#headerline {
	background-color: $lightblue;
	color: $white;
	text-align: right;
	padding: 0 5px 0 0;
	@include adjust-font-size-to($base-font-size * 0.8);
	overflow: visible;
	height: 18px;
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			color: $white;
		}
	}
}

#bigpicture {
	position: relative;
	max-height: 228px;
	img {
		max-width: 100%;
		height: auto;
		vertical-align: bottom;
	}
	.bigpicture-license {
		position: absolute;
		right: 0;
		bottom: 0;
		img {
			&:hover{
				cursor: help;
				max-width: auto;
			}
		}
	}
	.bigpicture-license-cc {
		@include bigPicture;
		left: $siteWidth - $infoImageWidth;
		max-width: $infoImageWidth;
	}
	.bigpicture-license-wc {
	//	@include bigPictureCommons;
		left: $siteWidth - 64px;
		width: 64px;
	}
	.bigpicture-license-info {
		@include bigPicture;
		max-width: $infoImageWidth;
	}
}

#middle {
	a {
		text-decoration: none;
	}
	p {
		@include adjust-font-size-to($base-font-size );
	}
	p > p {
		@include adjust-font-size-to($base-font-size );
		@include trailer(0.5);
	}
	h1 {
		color: $darkblue;
		font-size: 1.5em;
		line-height: 1.5em;
		margin-bottom: 0.5em;
	}
	h2 {
		color: $darkblue;
		font-size: 1.3em;
		line-height: 1.3em;
		margin-bottom: 0.5em;
	}
	h3 {
		color: $darkblue;
		@include adjust-font-size-to($base-font-size * 1.167);
	}
	h4 {
		color: $darkblue;
		@include adjust-font-size-to($base-font-size);
		font-weight: bold;
	}
	h5 {
		color: $darkblue;
		@include adjust-font-size-to($base-font-size);
		font-weight: normal;
	}
	ol {
		margin: 0 0 0 30px;
	}
	table {
		caption {
			padding: 0 0 10px 0;
		}
	}
	.csc-caption {
		padding: 0;
	}
	.karte {
		display: none;
	}
}

#werbung {
	padding: 20px 0;
}

#menubox {
	max-width: $sidebarWidth;
	float: left;
	max-width: 200px;
	float: left;
	width: 20%;
}

#contentbox {
	@include adjust-font-size-to($base-font-size);
	background-color: $white;
	max-width: 100%;
	//float: right;
	min-height: 690px;
	fieldset {
		padding-bottom: 10px;
	}
	ol {
		color: $darkgrey;
		li {
			@include adjust-font-size-to($base-font-size);
		}
	}
	ul {
		color: $darkgrey;
		@include trailer(0.5);
		li {
			@include adjust-font-size-to($base-font-size);
		}
	}
	p {
		@include trailer(0.5);
		color: $darkgrey;
	}

	.resetUlMargin {
		margin: 0;
	}
	.gokContainer {
		a {
			border-bottom: none;
			text-decoration: none;
		}
		ul {
			margin-left: 0;
			padding-left: 0!important;
			margin-top: 0;
			padding-bottom: 0;
			li {
				@include no-bullets;
				padding-left: 2em;
				text-indent: -2em;
				list-style-image: none;
				a {
					border-bottom: none;
					text-decoration: none;
				}
			}
		}
	}
}

	// Rechte Box
#infocontent{
	@include adjust-font-size-to($base-font-size);
	float: right;
	width: 20%;
	color: $darkgrey;
	background-color: $lightgrey;
	h1, h2, h6 {
		background-color: $bluegrey;
		color: $white;
		@include adjust-font-size-to($base-font-size);
		padding: 5px 5px 5px 10px;
		font-weight: bold;
		@include single-text-shadow;
	}
	ul {
		margin-top: 8px;
		padding: 5px 5px 0 20px;;
		li {
			list-style-image: url($arrowSmall);
			img {
				margin-top: 8px;
			}
		}
	}
	.csc-default {
		p {
			background-color: $lightgrey;
			padding: 5px 0;
			&.bodytext {
				padding: 5px 5px 5px 10px;
			}
		}
	}
	.tx-ttaddress-pi1, .tx-substaff {
		background-color: $lightgrey;
		padding: 5px 10px;
		@include border-bottom-left-radius($radius);
		h1, h2 {
			margin: 0;
			padding: 5px;
			background-color: $bluegrey;
			color: $white !important;
			font-size: $base-font-size !important;
			@include adjust-font-size-to($base-font-size);
			@include single-text-shadow;
			font-weight: bold;
		}
		h3 {
			padding: 0 !important;
			font-weight: bold;
			@include adjust-font-size-to($base-font-size);
		}
		img.photo {
			width: 100.01%;
			height: auto;
			padding-top: 5px;
		}
		ul {
			list-style-image: none;
			@include no-bullets;
			padding: 5px 5px 0 0;
			margin: 0 0 10px 0;
			font-weight: normal;
			li {
				list-style-image: none;
				list-style-type: none;
			}
		}
		.singleAddress {
			margin-bottom: 10px;
		}
	}
}
#pathline {
	padding: 1em 1em 1em 0;
	width: 75%;
	margin-left: 20%;
	ol {
		margin-left: 1.3em;
		li {
			display: inline;
			&:after {
				content: " » ";
			}
			&:last-child {
				font-weight: bold;
				&:after {
					content: "";
				}
			}
		}
	}
}

#centercontent {
	padding: 0 2% 1% 2%;
	width: 56%;
	float: left;
	//@include adjust-font-size-to($base-font-size * 1.2);
	font-size: 1.2em;
	line-height: 1.8em;
	&.fullwidth {
		width: 76%;
	}
	a {
		text-decoration: underline;
	}
	ul {
		padding-left: 20px;
		li {
			list-style-image: url($bulletImage);
		}
	}
	.tx-ttaddress-pi1 {
		.singleAddress {
			margin-bottom: 10px;
			h3 {
				padding: 0;
			}
			span {
				@include adjust-font-size-to($base-font-size);
			}
		}
		 img {
			padding: 0 0 5px 0;
		}
		ul {
			list-style-image: none;
			list-style-type: none;
			padding: 5px 5px 0 0;
			margin: 0;
			font-weight: normal;
			li {
				list-style-image: none;
				list-style-type: none;
			}
		}
	}
	#infocontent {
		@include adjust-font-size-to($base-font-size * 0.8);
	}
	#q {
		width: 37.9em;
	 }
}

	// Abstaende Startseite ohne Newsmodul WWW-1057
#page-1 {
	#centercontent {
		.csc-default {
			margin-bottom: 24px;
		}
	}
}

footer, #footer {
	background-color: $darkblue;
	padding: 3px 7px;
	color: $white;
	@include adjust-font-size-to($base-font-size * 0.833);
	li {
		display: inline;
		margin: 0 10px 0 0;
	}
	a {
		text-decoration: none;
		color: $white;
		&:hover {
			text-decoration: underline;
		}
	}
	#fleft {
		float: left;
	}
	#fright {
		float: right;
		div {
			display: inline;
		}
	}
}

#bottom {
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: $darkblue;
		&:hover {
			text-decoration: underline;
		}
	}
	.bottommenu {
		float: left;
		margin-top: 5px;

		padding: 5px 0.5% 5px 0.5%;
		width: 24%;
		.highlight {
			@include adjust-font-size-to($base-font-size * 1.1);
			color: $darkgrey;
			font-weight: bold;
		}
		ul {
			margin-top: 5px;
		}
	}
}

#last {
	padding: 3px 5px;
	color: $darkgrey;
	@include adjust-font-size-to($base-font-size * 0.833);
	a {
		color: $darkblue;
		&:hover {
			text-decoration: underline;
		}
	}
	li {
		display: inline;
		margin: 0 10px 0 0;
		list-style-type: none;
	}
}

// Ende Template

/* Sys Classes */
.clear {
	clear: both;
}

.note {
	@include adjust-font-size-to($base-font-size * 0.833);
}

.hint {
	font-style: italic;
}

.msg {
	background-color: $lightgrey;
	padding-bottom: 0 !important;
	margin: 0 12px 10px 10px;
	padding: 20px;
	@include adjust-font-size-to($base-font-size * 1.3);
	font-weight: bold;
	@include border-radius(3px);
}

.red {
	background-color: $red;
}

.indent {
	margin-left: 20px;
}

.noIndentUl {
	margin: 0 !important;
	padding: 0;
	.az {
		display:inline;
		list-style-type: none;
	}
}

#unilogo {
	max-width: 100%;
	text-align: center;
	img {
		margin: 10px 0;
		width: auto;
		height: auto;
	}
}

#language {
	@include adjust-font-size-to($base-font-size * 0.833);
	display: inline;
}

#logo {
	max-height: 110px;
}

.ddd a {
	color: $darkblue;
}

table {
	width: 100.01%;
	border: none;
	color: $darkgrey;
	padding: 0;
	margin-bottom: 1em;
	caption {
		color: $darkblue;
		@include adjust-font-size-to($base-font-size * 1.3);
	}
	td {
		padding: 2px 3px;
		border: 1px solid $anotherLightGrey;
		margin: 0;
		line-height: 1.5em;
		vertical-align: top;
	}
	thead {
		background-color: $lightgrey;
	}
	th {
		padding: 2px 3px;
		border: none;
		background-color: $lightgrey;
		line-height: 1.5em;
		vertical-align: top;
		color: darken($darkgrey, 20%);
		border-right: 1px solid $anotherLightGrey;
		border-top: 1px solid $anotherLightGrey;
		;
	}
	.tr-even {
		background-color: $lightgrey;
	}
	.tr-0 {
		font-weight: bold;
	}
}


// IE 6
#ie6 {
	display: none;
}

#dataTable{
	.odd {
		background-color: $lightgrey;
	}
}

#search{
	padding: 3px;
	float: right;
	input {
		border-style: none;
		background-color: #a7b9dc;
		height: 14px;
		@include adjust-font-size-to($base-font-size * 0.833);
	}
}

/* Navigation */
ul.submenu-l1 ul.js {
	display: none;
}

@import "Sections/navigation";

.liAsHeader li {
	list-style-type: none;
}

@import "Sections/nkwsubmenu";

.letterNavi li,
#nkwpeople_listMenu li,
#nkwlinks_listMenu li {
	display: inline;
}

.wideFormInput {
	width: 564px;
	background-color: rgba(223, 225, 232, 0.2);
	margin: 5px 0 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-style: inset;
	&:focus {
		background-color: rgba(223, 225, 232, 0.5);
	}
}

// Extensions
.csc-textpic-caption {
	@include adjust-font-size-to($base-font-size * 0.6);
	max-width: 120px;
}

.csc-textpic-intext-left {
	img {
		padding-bottom: 0;
		margin: 5px 0 0 0;
		max-width: 100%;
	}
	ol {
		padding-left: 20px !important;
	}
	ul {
		padding-left: 20px !important;
	}
	.csc-textpic-caption {
		padding: 2px 0;
		text-align: left;
	}
}

.csc-textpic-intext-right {
    img {
		padding-bottom: 0;
		margin: 5px 0 0 0;
	}
	.csc-textpic-caption {
		padding: 2px 0 2px 0;
		text-align: left;
	}
}

#middle {
	.formButton {
		width: auto;
		border-width: 1px;
		border-style: solid;
		border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
		@include border-radius(3px);
		background: url($buttonBackground) repeat-x scroll 0 100% #f3f6fb;
		margin-left: 0;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		text-shadow: 0 1px rgba(255, 255, 255, 0.75);
		text-transform: uppercase;
		line-height: 100%;
		padding: 3px 12px!important;
		height: 28px;
		color: $darkgrey;
	}
}
.tx-pagebrowse-pages ol li {
	margin-right: 5px;
}
@import "Sections/solr";
@import "Sections/powermail";
@import "Sections/pazpar2";

/* Pagebrowser */
.tx-pagebrowse-pi1 {
	ol {
		display: inline;
	}
	li {
		display: inline;
		list-style-type: none;
	}
}

@import "Sections/nkwsitemap";
@import "Sections/nkwgok";

.tx-nkwgmaps-border {
	width: 100%;
	height: 500px;
	border: 1px solid #999;
}

.tx-nkwgmaps-directionspanel {
	display: none;
	overflow: auto;
}

.jscalendar_cb {
	display: none
}

#centercontent .tx-ttaddress-pi1 {
	//float: left;
	width: 85%;
	img {
		.photo {
			float: right;
		}
	}
	li {
		list-style-type: none !important;
	}
	 ul {
		margin: 0 !important;
	}
}

.tx-nkwsubstaff-pi3-contact, .substaff-contact {
	@include adjust-font-size-to($base-font-size);
	margin-left: 0!important;
	color: $darkgrey;
	margin-bottom: 21px;
	ul {
		margin-left: 0 !important;
	}
	li {
		list-style-type: none;
		list-style-image: none!important;
	}
}

// tt_news
.news-latest-container {
	padding: 0!important;
	font-family: $font;
	@include adjust-font-size-to($base-font-size * 1.16);
	color: $darkgrey;
	img {
		float: left;
		margin-right: 8px;
	}
	.clearer {
 		visibility: hidden;
 		margin: 4px 0;
	}
}

.sub-az {
	dd {
		background-image: url($bulletImage);
		padding-left: 12px;
		line-height: 1.7em;
		background-repeat: no-repeat;
		margin-left: 8px;
		background-position-y: 23%;
	}
	dt {
		color: #626262;
		margin: 10px 0;
	}
	.letterNavi {
		span.pipe {
			color: #dedede;
		}
		a {
			text-decoration: none!important;
		}
	}
}

//@import "Sections/_responsive";
