* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	max-width: $site-width;
	min-height: 100%;

	@include respond-to(medium) {
		box-shadow: 0 0 $grid rgba($black, .5);
		margin: 0;
		min-width: 100%;
		overflow-x: hidden;
	}
}

body,
button,
input,
select,
textarea {
	font: #{$font-size} / #{$grid} $font-family-text;
}


@font-face {
	font-family: 'urw_classicoregular';
	src: url('../Fonts/classico/urwclassico-regular-webfont.eot');
	src: url('../Fonts/classico/urwclassico-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../Fonts/classico/urwclassico-regular-webfont.woff2') format('woff2'),
		 url('../Fonts/classico/urwclassico-regular-webfont.woff') format('woff'),
		 url('../Fonts/classico/urwclassico-regular-webfont.ttf') format('truetype'),
		 url('../Fonts/classico/urwclassico-regular-webfont.svg#urw_classicoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: $font-family-display;
}

a {
	color: $link-color;
	text-decoration: none;
}

button,
[type=submit],
[type=reset] {
	cursor: pointer;
	font-size: $font-size;

	// Fix button size in Firefox
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

img {
	height: auto;
	max-width: 100%;
}

legend {
	color: $text-color-light;
	font-weight: bold;
}

label {
	cursor: pointer;
}

[type=checkbox],
[type=radio] {
	opacity: 0;
	position: absolute;

	+ label,
	+ span {
		display: inline-block;
		margin-left: $grid;
	}

	&:checked + :before {
		background: $brand-color;
		transition-duration: $transition-duration-out;
	}

	&:focus + :before {
		outline: 1px dotted $text-color-light;
	}
}

[type=checkbox] {
	+ label,
	+ span, {
		@include checkbox;
	}
}

[type=radio] {
	+ label,
	+ span, {
		@include radio;
	}
}
