* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

body {
	margin: 0 auto;
	max-width: $site-width;
	min-height: 100%;

	@include respond-to(medium) {
		box-shadow: 0 0 $grid rgba($black, .5);
		margin: 0;
		min-width: 100%;
		overflow-x: hidden;
	}
}

body,
button,
input,
select,
textarea {
	font: #{$font-size} / #{$grid} $font-family-text;
}

@font-face {
	font-family: 'Optima';
	src: url('../Fonts/optima/optima-regular-webfont.eot');
	src: url('../Fonts/optima/optima-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../Fonts/optima/optima-regular-webfont.woff') format('woff'),
	     url('../Fonts/optima/optima-regular-webfont.ttf') format('truetype'),
	     url('../Fonts/optima/optima-regular-webfont.svg#OptimaRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3 {
	font-family: $font-family-display;
}

a {
	color: $link-color;
	text-decoration: none;
}

button,
[type=submit],
[type=reset] {
	cursor: pointer;
	font-size: $font-size;
}

img {
	height: auto;
	max-width: 100%;
}
