// Responsive grid and dimensions
$grid: 26px;
$site-width: 48 * $grid;
$search-width: 24 * $grid;

$breakpoints: (
	large: 1260px,
	medium: 1004px,
	small: 640px
);

$border-width: 1px;
$br: 0; // border-radius

// Typography
$fa-font-path: '../Fonts/fontawesome' !default;
$OpenSansPath: '../Fonts/open-sans' !default;
$sub-iconfont-path: '../Fonts/sub' !default;

$icon-font-path: '../Fonts/';
$font-family-display: 'urw_classicoregular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-family-text: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$img-path: '../Img';

$ratio: 1.3333333; // Factor used for font size increments
$line-height: $grid;
$font-size: 16px;
$font-size-small: 14px;
$typo-scale-offset: 2px; // Adjust heading font size for different font heights

$transition-duration-in: .2s;
$transition-duration-out: .1s;

// Brand colors
$brand-color: #1a3771;
$brand-color-light: #93a8cf;
$brand-color-lighter: lighten($brand-color, 66);

// Other base colors
$grey: #666;
$grey-dark: #444;
$grey-light: #888;
$grey-lighter: #ddd;
$shadow-light: rgba(black, .08);
$shadow-dark: rgba(black, .24);
$white: #fff;
$black: #000;
$alert: #f00;

// Semantic colors
$heading-color: $brand-color;
$text-color: $grey-dark;
$text-color-light: $grey;

$border-color: $grey-lighter;
$highlight-color: $brand-color-lighter;

$link-color: $brand-color;
$link-hover-bg-color: $brand-color-lighter;
$link-hover-bg-color-dark: $shadow-dark;

$input-bg-color: $white;
$input-border-color: $brand-color-light;
$input-border-color-focus: $brand-color;

$button-bg: linear-gradient(to bottom, lighten($link-color, 10), $link-color);
$button-bg-hover: linear-gradient(to bottom, $link-color, darken($link-color, 10));

$outline: 1px dotted $text-color-light;
