#pazpar2 {
	.pz2-fieldContainer {
		float: none;
	}

	.pz2-searchField {
		@include text-input;
		display: inline-block;
		font-size: $font-size;
		height: inherit;
		width: $search-width;
	}

	.pz2-submitButton {
		@include button;
		height: inherit;
	}

	.pz2-textFieldLabel {
		margin: ($grid / 2) 0;
	}
}
