@import 'settings';
@import '../../../Build/bower/fontawesome/scss/font-awesome';
@import '../../../Build/bower/open-sans-fontface/sass/open-sans';
@import '../../../Build/bower/bootstrap-sass-twbs/assets/stylesheets/bootstrap';
@import '../../../Build/bower/jasny-bootstrap/scss/jasny-bootstrap';

/*
@import 'Sections/base';
@import 'Sections/classes';

@import 'Sections/wrap';
@import 'Sections/bigpicture';
@import 'Sections/menubox';
@import 'Sections/unilogo';
@import 'Sections/werbung';
@import 'Sections/header';
@import 'Sections/headerline';
@import 'Sections/middle';
@import 'Sections/contentbox';
@import 'Sections/infocontent';
@import 'Sections/pathline';
@import 'Sections/centercontent';
@import 'Sections/footer';
@import 'Sections/bottom';
@import 'Sections/last';
@import 'Sections/navigation';
@import 'Sections/Social';

@import 'Sections/nkwsubmenu';
@import 'Sections/solr';
@import 'Sections/powermail';
@import 'Sections/pazpar2';
@import 'Sections/nkwsitemap';
@import 'Sections/nkwgok';
@import 'Sections/pagebrowse';
@import 'Sections/nkwgmaps';
@import 'Sections/cssStyledContent';
@import 'Sections/substaff';
@import 'Sections/news';*/

.navbar-toggle {
  float: left;
  margin-left: 15px;
}


@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

#top {
	@extend .sr-only;
}

#wrap {
	@extend .container;
}

.page-header {
	@include make-row();
	margin-bottom: 0;
	margin-top: 0;
	background-color: $text-color;
	padding-bottom: 0;
	border: 0;

	.link-home {
		display: none;
	}

	#logo {
		> img {
			width: 100%;
			height: 100%;
		}
	}
}

.header-line {
	@extend .text-right;
	@include make-row();
	padding-right: $padding-base-horizontal;
	font-size: $font-size-small;
	background-color: $background-color;

	a {
		color: white;
	}
}

.big-picture {
	@extend .hidden-xs;
	@include make-row();

	> img {
		max-width: $max-width;
		width: 100%;
		height: 100%;
	}

	.big-picture-license {
		@extend .pull-right;
		margin-top: -29px;
		position: relative;
	}
}

.middle {
	@include make-row();

	.contentbox {
		@include make-lg-column(9);
		@include make-md-column(9);
		margin-top: $padding-base-vertical;

		.breadcrumb {
			background-color: transparent;
			margin-bottom: 0;
		}

		.centercontent {

			&.with-sidebar {
				@include make-lg-column(8);
			}
			padding-left: $padding-base-horizontal;

			.contenttable {
				@extend .table;
			}
		}

		.infocontent {
			@include make-lg-column(4);
			margin-right: 0;
			padding-right: 0;

			.csc-bulletlist {
				list-style-type: none;
			}

			.csc-default {
				@extend .panel;
				@extend .panel-default;

				.csc-header {
					@extend .panel-heading;
					@extend .panel-title;
				}
				.csc-bulletlist {
					@extend .panel-body;
				}
			}
			.infobox__social {
				i {
					margin-right: $padding-large-vertical;
				}
			}
		}
	}

	.menubox {
		@include make-lg-column(3);
		@include make-md-column(3);
		padding-left: 0;
		padding-right: 0;
		margin-bottom: $line-height-computed;

		.submenu {
			background-color: $nav-background-color;

			a {
				color: white;
			}

			ul {
				@extend .nav;
				@extend .navbar;
				@extend .nav-stacked;
				@extend .nav-pills;
				margin-bottom: 0;

				> li + li {
					margin-top: 0;
				}

				li {
					border-bottom: 1px solid $text-color;
					margin-top: 0;

					&.submenu-selected {
						@extend .active;
					}

					a {
						padding-top: $padding-small-vertical;
						padding-bottom: $padding-small-vertical;
					}
				}

				&.submenu-l2 {
					background-color: $tab-background;

					a {
						color: $link-color;

						&:hover {
							color: white;
						}
					}

					li {
						&:last-child {
							border-bottom: 0;
						}
					}
				}

				&.submenu-l3 {
					padding-left: $padding-small-horizontal;
					font-size: $font-size-small;
				}
			}
		}

		.unilogo {
			@extend .hidden-xs;
			margin-top: $padding-large-vertical;
		}

	}

}

.footer {
	@include make-row();
	margin-top: $padding-base-vertical;
	background-color: $headings-color;

	a {
		color: white;

		&:hover {
			color: white;
		}
	}

	ul {
		@extend .list-inline;
		padding-top: $padding-small-vertical;
		padding-bottom: $padding-small-vertical;
		margin-bottom: 0;
		margin-left: 0;
		font-size: $font-size-small;
	}

	.footerleft {
		@extend .pull-left;
	}

	.footerright {
		@extend .pull-right;
	}
}

.bottom {
	@extend .hidden-xs;
	@include make-row();
	margin-top: $line-height-computed;

	i {
		margin-right: $padding-large-vertical;
	}

	.bottommenu {
		@extend .list-group;
		@include make-lg-column(3);

		ul {
			padding-left: 0;

			li {
				@extend .list-group-item;
				padding-top: $padding-small-vertical;
				padding-bottom: $padding-small-vertical;
				padding-left: $padding-base-horizontal;
			}
		}

		h6 {
			@extend .list-group-item-heading;
			font-size: $font-size-base;
			padding-left: $padding-base-horizontal;
			font-weight: bold;
		}
	}

}

.last {
	@include make-row();
}
