// Colors
$lightblue: #93A8CF;
$darkblue: #1a3771;
$anotherDarkBlue: #163675;
$lightgrey: #dee1e7;
$anotherLightGrey: #cccccc;
$darkgrey: #434343;
$darkergrey: #626262;
$bluegrey: #6e7fa0;
$red: #FF0000;
$white: #FFFFFF;

	// Dimensions
$radius: 7px;
$siteWidth: 1000px;
$contentBoxWidth: 80%;
$sidebarWidth: $siteWidth * 0.2;
$headerHeight: 110px;
$infoImageWidth: 29px;

	// shadow
$default-text-shadow-color: rgba(black, 0.5);
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 1px;

	// typography
$base-font-size: 12px;
$base-line-height: 18px;
@include establish-baseline;

	// Images
$arrowLink: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right_2.svg';
$arrowSmall: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right.png';
$headerImage: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/header.png';
$bulletImage: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/bullet.png';
$buttonBackground: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/button_shade_large.png';
$logoImage: '/typo3conf/ext/tmpl_sub/Resources/Public/Img/logo_print.png';

$font: Helvetica, Arial, sans-serif;

	// spriting
@import "Img/*.png";
@include all-Img-sprites;

@mixin bigPicture {
	position: absolute;
	right: 0;
	a {
		&:hover {
			cursor: help;
		}
	}
}

@mixin bigPictureCommons {
	position: relative;
	top: -41px;
	a {
		&:hover {
			cursor: help;
		}
	}
}