.bottom {
	li {
		list-style-type: none;
	}
	a {
		text-decoration: none;
		color: $darkblue;
		&:hover {
			text-decoration: underline;
		}
	}
	.bottommenu {
		float: left;
		margin-top: 5px;

		padding: 5px 0.5% 5px 0.5%;
		width: 24%;
		.highlight {
			@include adjust-font-size-to($base-font-size * 1.1);
			color: $darkgrey;
			font-weight: bold;
		}
		ul {
			margin-top: 5px;
		}
	}
}