/* Sys Classes */
.clear {
	clear: both;
}

.note {
	@include adjust-font-size-to($base-font-size * 0.833);
}

.hint {
	font-style: italic;
}

.msg,
.flashmessage {
	@include adjust-font-size-to($base-font-size * 1.3);
	background-color: $lightgrey;
	padding: 0;
	margin: 0;
	font-weight: bold;
}

.red {
	background-color: $red;
}

.indent {
	margin-left: 20px;
}

.noIndentUl {
	margin: 0 !important;
	padding: 0;
	.az {
		display:inline;
		list-style-type: none;
	}
}

.ddd a {
	color: $darkblue;
}

.liAsHeader li {
	list-style-type: none;
}

.letterNavi li {
	display: inline;
}

.wideFormInput {
	width: 564px;
	background-color: rgba(223, 225, 232, 0.2);
	margin: 5px 0 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-style: inset;
	&:focus {
		background-color: rgba(223, 225, 232, 0.5);
	}
}

.jscalendar_cb {
	display: none
}
