.contentbox {
	@include adjust-font-size-to($base-font-size);
	background-color: $white;
	max-width: 100%;
	min-height: 690px;
	fieldset {
		padding-bottom: 10px;
	}
	ol {
		color: $darkgrey;
		li {
			@include adjust-font-size-to($base-font-size);
		}
	}
	ul {
		color: $darkgrey;
		@include trailer(0.5);
		li {
			//@include adjust-font-size-to($base-font-size);
		}
	}
	p {
		@include trailer(0.5);
		color: $darkgrey;
	}

	.resetUlMargin {
		margin: 0;
	}
	.gokContainer {
		a {
			border-bottom: none;
			text-decoration: none;
		}
		ul {
			margin-left: 0;
			padding-left: 0!important;
			margin-top: 0;
			padding-bottom: 0;
			li {
				@include no-bullets;
				padding-left: 2em!important;
				text-indent: -2em!important;
				list-style-image: none;
				a {
					border-bottom: none;
					text-decoration: none;
				}
			}
		}
	}
}