.news {
	.news-latest-container {
		padding: 0!important;
		font-family: $font;
		@include adjust-font-size-to($base-font-size * 1.16);
		color: $darkgrey;
		img {
			float: left;
			margin-right: 8px;
		}
		.clearer {
			visibility: hidden;
			margin: 4px 0;
		}
	}
	.news-list-view {
		.teaser-text {
			p {
				margin-bottom: 0;
			}
		}
	}
}