.tx-nkwsubmenu-pi2 {
	p {
		margin: 0;
		padding: 5px;
	}
	h6 {
		font-weight: bold;
		color: $white;
		padding: 5px;
		background-color: $bluegrey;
		@include single-text-shadow;
		@include adjust-font-size-to($base-font-size);
	}

	#tx-nkwsubmenu-pi2-imagelistframe {
		overflow: hidden;
		padding: 8px;
		margin-right: 8px;
		text-align: center;
	}

	#tx-nkwsubmenu-pi2-imagelist {
		background-color: $lightgrey;
		img {
			border: 1px solid #000;
			margin-bottom: 2px;
		}
	}
	#tx-nkwsubmenu-pi2-contentlist {
		background-color: $lightgrey;
		border-top-left-radius: 7px;
		ul {
			padding-right: 5px;
		}
	}
	#tx-nkwsubmenu-pi2-keywordlist {
			background-color: $lightgrey;
	}
}