.tx_nkwkeywords {
	.sub-az {
		dd {
			background-image: url($bulletImage);
			padding-left: 12px;
			line-height: 1.7em;
			background-repeat: no-repeat;
			margin-left: 8px;
			background-position-y: 23%;
		}
		dt {
			color: #626262;
			margin: 10px 0;
		}
		.letterNavi {
			span.pipe {
				color: #dedede;
			}
			a {
				text-decoration: none!important;
			}
		}
	}
}