#pathline {
	padding: 1em 1em 1em 0;
	width: 75%;
	margin-left: 20%;
	ol {
		margin-left: 1.3em;
		li {
			display: inline;
			&:after {
				content: " » ";
			}
			&:last-child {
				font-weight: bold;
				&:after {
					content: "";
				}
			}
		}
	}
}