.infobox__social { 
	li {
		list-style-type: none;
		list-style-image: none !important;
		padding-bottom: 5px;
	}
	ul {
		padding-left: 1em;
	}
	i { 
		font-size: 200%;
		vertical-align: middle;
		margin-right: 7px;
	}
}