.icon-facebook-sign {
	color: #3b5998;
}

.icon-twitter-sign {
	color: #00aced;
}

.sub-social {
	i {
		margin-right: 4px;
	}
}

.infobox__social li {
	list-style-type: none;
	padding-bottom: 5px;
}

.infobox__social ul {
	padding-left: 1em;
}

.infobox__social i {
	font-size: 200%;
	vertical-align: middle;
	margin-right: 7px;
}