.icon-facebook-sign {
	color: #3b5998;
}

.icon-twitter-sign {
	color: #00aced;
}

.sub-social {
	i {
		margin-right: 4px;
	}
}

.infobox__social {
	padding-left: 1em;
	li {
		list-style-type: none;
		list-style-image: none !important;
		padding-bottom: 5px;
		i {
			vertical-align: middle;
			margin-right: 7px;
		}
	}
}
