.substaff_detail {
	display: block;
}

.substaff-contact {
	@include adjust-font-size-to($base-font-size);
	margin-left: 0!important;
	color: $darkgrey;
	margin-bottom: 21px;
	ul {
		margin-left: 0 !important;
	}
	li {
		list-style-type: none;
		list-style-image: none !important;
	}
}

$hover: #eee;
$marked: darken($hover, 5%);

.substaff_person {
	.substaff-item {
		border-top: 0 !important;
		list-style-image: url($bulletImage);
		padding: 5px 0 !important;
	}

	.substaff_list {
		margin-left: 2em !important;
	}
}


.substaff {

	.mobile-only {
		display: none;
	}

	.alphabet-list {
		margin-left: 0;

		.substaff_list {
			margin-left: 0 !important;
		}
	}

	.alphabet-list_letter {
		font-size: 2em;
	}

	.alphabet-list_item {
		list-style-type: none !important;
	}

	.substaff_list {
		list-style-type: none !important;

		li {
			border-top: 1px solid darken($hover, 20%);
			padding: 10px 0;

			&.last {
				border-bottom: 1px solid darken($hover, 20%);
			}

			&.noBorder {
				padding: 0 0 10px;
				border-top: 0;
			}

			&.row {
				min-height: 70px;
				&:first-child {
					border: 0;
				}
			}
		}
	}

	img {
		float: right;
	}

	ul {
		margin-top: 0 !important;
	}

	a {
		&.phoneNumberLink {
			text-decoration: none !important;
			color: #434343 !important;

			&:hover {
				cursor: default;
			}
		}
	}

	.groupDetail {
		a {

			&.fn {
				font-size: 100%;
			}
		}
	}

	.groupList,
	.personList {
		a {

			&.fn {
				font-size: 110%;
			}
		}
	}

	.pagination {
		&.-alphabet {
			position: fixed;
			width: 200px;
			background: #fff;
			border: 1px solid #1a3771;
			padding-left: 10px;
			margin-left: 600px;

		.a {
			font-size: 2em !important;
			border-top: 0;
		}

		li {
			opacity: .86;
			padding: 5px !important;
			display: inline-block;

			.highlight,
			&:hover {
				font-weight: bold;
			}

			span.pipe {
				color: #dedede;
			}

			a {
				text-decoration: none !important;
			}
		}
	}
	}
	.substaff-map {
		line-height: 1.5em;

		a {
			border-bottom: 0 !important;
		}
	}

	.personDetail {
		img {
			float: none;
		}
	}
}
