Powermail_frontend HTML Template if you want to use the marker ###POWERMAILFE_ALL##, this HTML template wraps each line of it

	--- MARKERS INSIDE SUBPARTS ---
	Label of current field:								###POWERMAILFE_LABEL###
	Value of current field:								###POWERMAILFE_VALUE###
	Key of current field (e.g. uid3):					###POWERMAILFE_KEY###
	"odd" or "even":									###POWERMAILFE_ALTERNATE###
	
	--- GENERAL MARKERS --
	Displaying any value from pi1/locallang.xml:		###POWERMAILFE_LL_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAILFE_TS_YOURFIELD### (Could be filled via typoscript - see manual for details)

Definition list variant
<!-- ###POWERMAILFE_ALL### begin -->
	<dl class="powermailfe_all">
		<!-- ###CONTENT### --><!-- ###ITEM### -->
			<dt class="pfe_all_dl pfe_all_label pfe_all_###POWERMAILFE_ALTERNATE### pfe_all_###POWERMAILFE_KEY###"><b>###POWERMAILFE_LABEL###</b></dt> 
			<dd class="pfe_all_dl pfe_all_value pfe_all_###POWERMAILFE_ALTERNATE### pfe_all_###POWERMAILFE_KEY###">###POWERMAILFE_VALUE###</dd>
		<!-- ###ITEM### --><!-- ###CONTENT### -->
	</dl>
<!-- ###POWERMAILFE_ALL### end -->

Table variant (rename subpart, if you want to use it)
<!-- ###POWERMAILFE_ALL_TABLE### begin -->
	<table class="powermailfe_all_table">
		<!-- ###CONTENT### --><!-- ###ITEM### -->
			<tr class="powermailfe_all_tr">
				<td class="pfe_all_td pfe_all_td_label pfe_all_td_###POWERMAILFE_ALTERNATE### pfe_all_td_###POWERMAILFE_KEY###" valign="top"><b>###POWERMAILFE_LABEL###</b></td> 
				<td class="pfe_all_td pfe_all_td_value pfe_all_td_###POWERMAILFE_ALTERNATE### pfe_all_td_###POWERMAILFE_KEY###" valign="top">###POWERMAILFE_VALUE###</td>
			</tr>
		<!-- ###ITEM### --><!-- ###CONTENT### -->
	</table>
<!-- ###POWERMAILFE_ALL_TABLE### end -->