Powermail_frontend HTML Template for edit view

	--- MAIN MARKERS FOR EDIT VIEW ---
	
    Available markers within subparts:
	###POWERMAILFE_FIELDS###				Fill subpart with powermail fields (to change)	
    
    Available markers out of subparts:
    ###UID###								UID of current mail		
	###ACTION###							Typolink to the same page			
	
    --- GENERAL MARKERS ---
	Displaying any value from pi1/locallang.xml:		###POWERMAILFE_LL_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAILFE_TS_YOURFIELD### (Could be filled via typoscript - see manual for details)
	
	
<!-- ###POWERMAILFE_EDIT### begin -->
	<div class="powermailfe_edit">
		<form action="###ACTION###" method="post" id="powermail_frontend_edit" />
    		<fieldset class="tx-powermail-pi1_fieldset powermailfe_edit">
                <!-- ###CONTENT_EDIT### --><!-- ###ITEM_EDIT### -->
                    ###POWERMAILFE_FIELDS###
                <!-- ###ITEM_EDIT### --><!-- ###CONTENT_EDIT### -->
                
                <input type="hidden" name="tx_powermailfrontend_pi1[change][uid]" value="###UID###" />
                <input type="submit" value="###POWERMAILFE_LL_EDIT_SUBMIT###" class="pmfe_edit_submit" onclick="if (confirm('###POWERMAILFE_LL_EDIT_SUBMIT_SURE###')) return true; else return false;" />
            
            <!-- ###POWERMAILFE_SPECIAL_LISTLINK### -->###POWERMAILFE_LL_BACK###<!-- ###POWERMAILFE_SPECIAL_LISTLINK### -->
            </fieldset>
        	<input type="button" value="###POWERMAILFE_LL_EDIT_DELETE###" class="pmfe_edit_delete" onclick="if (confirm('###POWERMAILFE_LL_EDIT_DELETE_SURE###')) window.location = '###URLDELETE###';" />
		</form>
		<script type="text/javascript">
			function formCallback(result, form) {
				window.status = "valiation callback for form '" + form.id + "': result = " + result;
			}
			var valid = new Validation('powermail_frontend_edit', {immediate : true, onFormValidate : formCallback});
        </script>
	</div>
<!-- ###POWERMAILFE_EDIT### end -->