Powermail_frontend HTML Template for single view

	--- MAIN MARKERS FOR LIST VIEW ---
	Available markers:
	###POWERMAILFE_ALL###					Automatic marker with all needed fields (see tmpl_all.html)
	###UID23###								Value of field uid23
	###UID23_1###							Subvalue of field uid23_1 (maybe a second checkbox)
	###LABEL_UID23###						Label to uid23
    ###CRDATE###							Show crdate (manipulation strftime via typoscript)
    ###RECIPIENT###							Show recipient
    ###SUBJECT_R###							Subject of email
    ###SENDER###							Sendername
    ###SENDERIP###							IP address of sender	
    ###UID###								UID of current mail					
	
    --- GENERAL MARKERS ---
	Displaying any value from pi1/locallang.xml:		###POWERMAILFE_LL_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:				###POWERMAILFE_TS_YOURFIELD### (Could be filled via typoscript - see manual for details)
	
	
<!-- ###POWERMAILFE_SINGLE### begin -->
	<div class="powermailfe_single">
        	<div class="powermailfe_singleitem powermailfe_singleitem_###UID###">###POWERMAILFE_ALL###</div>
            <!-- ###POWERMAILFE_SPECIAL_LISTLINK### -->###POWERMAILFE_LL_BACK###<!-- ###POWERMAILFE_SPECIAL_LISTLINK### -->
	</div>
<!-- ###POWERMAILFE_SINGLE### end -->