.breadcrumbs {
	float: left;

	a {
		@include link(false);
		display: inline-block;
	}

	li {
		display: inline;

		+ li:before {
			@include fa-icon('angle-right');
			color: $text-color-light;
			padding: 0 .5em;
		}
	}
}
