.breadcrumbs {
    font-size: $font-size-small;
    margin-bottom: (.5 * $grid);

    li {
        display: inline;

        + li:before {
            color: $text-color-light;
            content: '»';
            padding: 0 .5em;
        }
    }
}
