.colophon {
	@extend %full-width-background;
	@include auto-color($brand-color);
	background: $brand-color;
	position: relative;

	@each $name in $social-icons {
		.fa-#{$name} {
			@include icon($name, $white);
		}
	}
}

.colophon_links {
	@extend %clearfix;
	padding: 0 ($grid / 2);

	@include respond-to(medium) {
		padding: 0;
	}

	a {
		@include link(false, true);
	}
}

.colophon_column {
	float: left;
	padding: ($grid / 2);
	width: 25%;

	@include respond-to(large) {
		width: 50%;
	}

	@include respond-to(small) {
		width: 100%;
	}

	h6 {
		font-weight: bold;
		margin-bottom: ($grid / 2);
	}

	li {
		margin-left: $grid;
		text-indent: (-$grid);

		@include respond-to(small) {
			margin-bottom: round($grid / 4);
		}
	}
}

.colophon_last-change {
	font-size: $font-size-small;
	padding: ($grid / 2) $grid;
	text-align: right;

	@include respond-to(medium) {
		padding: ($grid / 2);
	}
}

.colophon_top-link {
	@include transition(opacity, right);
	background: $brand-color-lighter;
	border-radius: $br 0 0 $br;
	bottom: (2 * $grid);
	opacity: 0;
	position: fixed;
	right: floor(-1.618 * $grid);

	&.-visible {
		opacity: 1;
		right: 0;
	}

	a {
		@include icon('chevron-up', $link-color, false);
		@include transition(background, color);
		display: block;
		height: ceil(1.618 * $grid);
		line-height: ceil(1.618 * $grid);
		width: ceil(1.618 * $grid);
		text-align: center;

		@include hover {
			@include icon('chevron-up', $white, false);
			@include transition(background, color);
			background: $brand-color-light;
			text-shadow: 0 -1px 0 $shadow-dark;
		}
	}
}
