.colophon {
	@extend %full-width-background;
	@include auto-color-for($alpha-color);
	background: $alpha-color;
}

.colophon_links {
	@extend %clearfix;
	padding: 0 (.5 * $grid);

	@include respond-to(small) {
		padding: 0;
	}

	a {
		@extend %link-with-border-on-hover;
		font-weight: light;
		color: $white;

		@include hover {
			border-color: $white;
			color: $white;
		}
	}
}

.colophon_column {
	float: left;
	padding: (.5 * $grid);
	width: 25%;

	@include respond-to(medium) {
		width: 50%;
	}

	@include respond-to(small) {
		width: 100%;
	}

	h6 {
		font-weight: bold;
		margin-bottom: (.5 * $grid);
	}

	li {
		margin-left: $grid;
		text-indent: (-$grid);

		@include respond-to(medium) {
			margin-bottom: (.25 * $grid);
		}
	}
}

.colophon_item {
	&.-indent {
		margin-left: (2 * $grid);
	}
}

.colophon_last-change {
	font-size: $font-size-small;
	padding: (.5 * $grid);
}

.colophon_top-link {
	@include transition(opacity, right);

	background: $pale-color;
	border-radius: $br 0 0 $br;
	bottom: (3 * $grid);
	opacity: 0;
	position: fixed;
	right: (-2 * $grid);
	width: (2 * $grid);

	&.-visible {
		opacity: 1;
		right: (-$border-width);
	}

	a {
		@include fa-icon('chevron-up', false);
		display: block;
		height: (2 * $grid);
		line-height: (2 * $grid);
		text-align: center;

		@include hover {
			background: $highlight-color;
		}
	}
}
