.content_main {
	@include column(small);
	padding: 0;

	address,
	blockquote,
	fieldset,
	figure,
	form,
	dl,
	h1,
	h2,
	h3,
	iframe,
	ol,
	p,
	pre,
	table,
	ul,
	.vcard {
		margin-bottom: $grid;
	}

	a {
		@include transition(border-color);
		border-bottom: 1px solid $border-color;

		@include hover {
			border-color: $link-hover-color;
		}
	}

	caption {
		font-weight: bold;
		text-align: left;
	}

	// TODO: Modular scale via mixin/function
	h1 {
		@include typo-scale(3);
		color: $heading-color;
		font-weight: 300;
	}

	h2 {
		@include typo-scale(2);
		color: $heading-color;
		font-weight: 300;
	}

	h3 {
		@include typo-scale(1);
		color: $heading-color;
	}

	h4,
	h5,
	h6 {
		font-weight: bold;
		margin-bottom: 0;
	}


	ol, ul {
		margin-left: $grid;

		&.no-style {
			list-style: none;
			margin-left: 0;
		}
	}

	ul > li {
		&:before {
			border-radius: $br;
			content: '';
			background: $beta-color;
			display: inline-block;
			height: (round(.25 * $grid));
			margin: round(.4 * $line-height) 0 0 -1em;
			position: absolute;
			width: round(.25 * $grid);
		}
	}

	ol {
		list-style: decimal outside;
	}

	abbr,
	acronym,
	dfn {
		border-bottom: 1px dotted $border-color
	}

	b,
	strong {
		font-weight: bold;
	}

	big {
		font-size: 1.25em;
	}

	cite,
	em,
	i,
	q {
		font-style: italic;
	}

	code,
	kbd,
	tt,
	var {
		font-family: monospace;
	}

	small {
		font-size: ($font-size-small / $font-size + 0em)
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}

	table {
		width: 100%;
	}

	td,
	th {
		padding: (.25 * $grid) (.25 * $grid) (.25 * $grid - 1px);
		text-align: left;
	}

	th {
		font-weight: bold;
	}

	tr {
		border-bottom: 1px solid $border-color;
	}

	[type=text],
	[type=password],
	[type=email],
	[type=search],
	select,
	textarea {
		@include text-input;
	}
	// TODO: form styless

	button,
	[type=submit],
	[type=reset] {
		@include button;
	}

}

.content_sidebar {
	@include column(small);
	padding-right: 0;
	width: (10 * $grid);

	@include respond-to(small) {
		border-top: 3px solid lighten($border-color, 5);
		padding: ($grid - 3px) 0 0;
	}

	> div {
		border-left: 3px solid lighten($border-color, 5);
		margin-top: (.25 * $grid);
		padding-left: ($grid - 3px);

		@include respond-to(small) {
			border: 0;
			padding-left: 0;
		}
	}

	> div + div {
		margin-top: (1.25 * $grid);
	}

	a {
		@extend %show-border-on-hover;
	}

	h2 {
		@include typo-scale(1);
		color: $heading-color;
		margin-bottom: (.75 * $grid);
	}

	li {
		margin-bottom: (.5 * $grid);
	}
}
