.content {
	@include column(small);
	padding: 0;
	position: relative;

	address,
	blockquote,
	fieldset,
	figure,
	form,
	dl,
	h1,
	h2,
	h3,
	iframe,
	ol,
	p,
	pre,
	table,
	ul,
	.vcard {
		margin-bottom: $grid;
	}

	a {
		@extend %link-with-border-always;
	}

	caption {
		font-weight: bold;
		text-align: left;
	}

	h1,
	h2,
	h3 {
		position: relative;
		text-rendering: optimizeLegibility;
		word-wrap: break-word;

		a {
			@extend %link-with-border-on-hover;
		}
	}

	h1 {
		@include typo-scale(3);
		color: $heading-color;
		font-weight: 300;
		top: 13px;
	}

	h2 {
		@include typo-scale(2);
		color: $heading-color;
		font-weight: 300;
		top: 16px;
	}

	h3 {
		@include typo-scale(1);
		color: $heading-color;
		top: 12px;
	}

	h4,
	h5,
	h6 {
		font-weight: bold;
		margin-bottom: 0;
	}


	ol,
	ul {
		margin-left: $grid;

		&.no-style {
			list-style: none;
			margin-left: 0;
		}

		ol,
		ul {
			margin-bottom: 0;
		}
	}

	ul > li {
		&:before {
			border-radius: .125em;
			content: '';
			background: $border-color;
			display: inline-block;
			height: .25em;
			margin: .7em 0 0 -1.1em;
			position: absolute;
			width: .5em;
		}
	}

	ol {
		list-style: decimal outside;
	}

	abbr,
	acronym,
	dfn {
		border-bottom: $border-width dotted $border-color;
	}

	b,
	strong {
		font-weight: bold;
	}

	big {
		font-size: 1.25em;
	}

	cite,
	em,
	i,
	q {
		font-style: italic;
	}

	code,
	kbd,
	tt,
	var {
		font-family: monospace;
	}

	small {
		font-size: $font-size-small;
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -.5em;
	}

	sub {
		bottom: -.25em;
	}

	table {
		border-bottom: (2 * $border-width solid) $border-color;
		margin: (-.25 * $grid) 0 (.75 * $grid);
		width: 100%;
	}

	th {
		border-bottom: (2 * $border-width solid) $border-color;
		padding: (.25 * $grid) (.25 * $grid) (.25 * $grid - $border-width);
		text-align: left;
	}

	td {
		padding: (.25 * $grid);
		text-align: left;
	}

	tr {
		border-bottom: $border-width solid $border-color;
	}

	[type=date],
	[type=datetime-local]
	[type=email],
	[type=password],
	[type=search],
	[type=tel],
	[type=text],
	select {
		@include text-input;
		height: (2 * $grid);
	}

	textarea {
		@include text-input;
		height: (8 * $grid);
	}

	button,
	[type=submit],
	[type=reset] {
		@include button;
	}

	dl {
		clear: both;
		float: left;
	}

	dt {
		color: $text-color-light;
		float: left;
		font-weight: bold;
		width: 12em;

		@include respond-to(small) {
			float: none;
			width: auto;
		}
	}

	dd {
		padding-left: 12em;

		@include respond-to(small) {
			padding-left: 0;
		}
	}
}
