.footer {
	@extend %clearfix;
	background: $white;
	max-width: $site-width;
	padding: 0 (.5 * $grid) (.5 * $grid);
	position: relative;

	@include respond-to(small) {
		padding: 0 (.5 * $grid);
	}

	a {
		@extend %link-with-border-on-hover;
		white-space: nowrap;
	}

	li {
		display: inline-block;
		margin: 0 (.5 * $grid);
	}
}

.footer_left {
	float: left;
}

.footer_right {
	float: right;
}

.footer_left,
.footer_right {
	@include respond-to(medium) {
		float: none;
		padding: (.25 * $grid) 0;
		text-align: center;
	}
}
