// Overrides for GOK default styles

.gok,
.gokContainer {

	.rootNode > a {
		@include link(false);
	}

	ul {
		margin-left: 0;
	}

	li {
		&::before {
			display: none !important;
		}

		a {
			box-shadow: none;
			color: $text-color-light;

			@include hover {
				background: none;
			}
		}

		a:link {
			@include link(false);
			color: $link-color;

			&:hover {
				text-decoration: none !important;
			}
		}
	}

	.opacLink {
		color: $link-color !important;
		font-style: normal !important;
		font-size: $font-size-small !important;
	}
}
