%header_element {
	max-width: $site-width;
	position: relative;

	@include respond-to(large) {
		margin: 0 auto;
	}
}

.header {
	background: $white; // Prevent off-canvas nav from popping through
	padding-bottom: ($grid / 2);
	overflow: visible;
	position: relative;
	z-index: 1;
}

.header_bar {
	@extend %clearfix;
	background: $white;
	font-size: $font-size-small;
	padding: ceil($grid / 4) $grid floor($grid / 4);

	@include respond-to(large) {
		padding: ceil($grid / 4) ($grid / 2) floor($grid / 4);
	}
}

.header_image {
	border-bottom: ($grid / 2) solid $white;
	max-height: (10 * $grid);
	margin: 0 $grid;
	overflow: hidden;
	position: relative;

	@include respond-to(large) {
		margin: 0 ($grid / 2);
	}

	@include respond-to(medium) {
		display: none;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.header_image-license {
	bottom: 0;
	position: absolute;
	right: 0;
}

.header_language {
	float: right;

	@include respond-to(large) {
		font-size: $font-size;
		position: absolute;
		right: 0;
		top: 0;
	}

	a {
		@include icon('globe', $link-color);
		@include link(false);

		@include respond-to(large) {
			@include icon('globe', $white);
			@include link(false, true);
			display: inline-block;
			padding: ($grid / 2);
		}
	}
}

.header_logo {
	background: url($img-path + '/sub-logo.svg') 0 center no-repeat;
	background-size: contain;
	height: (2 * $grid);
	max-width: 100%;
	width: 640px; // Width of logo

	// Fit logo left of search
	@include respond-to(large) {
		background-size: 400px auto;
		margin: (1.5 * $grid) 0 0;
		width: 400px;
	}

	@include respond-to(medium) {
		background-size: 322px auto;
		margin: (1.5 * $grid) 0 0;
		width: 322px;
	}

	// Center logo above search
	@include respond-to(small) {
		background: url($img-path + '/sub-logo-centered.svg') center 0 no-repeat;
		background-size: auto (2.5 * $grid);
		height: auto;
		margin: 2px auto 0;
		min-height: 2.5 * $grid;
		width: 100%;
	}

	a {
		display: block;
		height: 100%;
		min-height: (1.5 * $grid);
	}
}

// 1. Position department name at the same position as brand name.
// 2. Approximate width of brand name in logo that has to be overlayed is 440px.
//    Has to be slightly larger to accomodate some very long deparment names,
//    but may not overlap with search.
// 3. Smallest possible width that can contain the longest title ("Ost- und
//    Zentralasien / Altaistik / Sibirische & Paläoasiatische Sprachen") in two
//    lines while preventing the title from overlapping with the search.
.header_title {
	@include typo-scale(2);
	background: $brand-color;
	color: $white;
	display: table-cell; // Center text vertically inside element
	height: ($grid * 3);
	left: 142px; // 1
	padding: 0 ($grid / 2);
	position: relative;
	top: (-$grid / 2);
	vertical-align: middle;
	width: 490px; // 2

	@include respond-to(large) {
		font-size: $font-size;
		line-height: 18px; // Making two rows same height as logo
		height: ($grid * 2);
		left: 99px; // 1
		padding: 0 9px;
		top: 0;
		width: 310px;
	}


	@include respond-to(medium) {
		left: 77px;
		width: 275px; // 3
	}

	@include respond-to(small) {
		display: inline-block;
		height: auto;
		left: 0;
		margin-top: 39px; // Just below logo blip
		padding: 5px; // Ensure logo text is overlapped
		text-align: center;
		width: 100%;
	}

	a {
		color: $white;
	}
}

.header_toggle-nav {
	@include icon('bars', $white);
	@include link(false, true);
	background: none;
	border: 0;
	border-bottom: $border-width solid transparent;
	display: none;
	left: 0;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 99;

	@include respond-to(large) {
		display: inline-block;
		padding: ($grid / 2);
	}

	.-show-off-canvas & {
		@include icon('close', $white);
	}
}

.header_top {
	@extend %header_element;
	@extend %full-width-background;
	background: $brand-color;
	padding: $grid;

	@include respond-to(large) {
		padding: ($grid / 2);
	}

	// Make sure small logo does not overlap menu and language
	@media (max-width: 319px) {
		padding-top: (1.75 * $grid);
	}
}
