%header_element {
	max-width: $site-width;
	position: relative;

	@include respond-to(medium) {
		margin: 0 auto;
	}
}

.header {
	background: $alpha-color; // Prevent off-canvas nav from underlapping
	overflow: visible;
	position: relative;
	z-index: 1;

	@include respond-to(medium) {
		padding-top: $grid;
	}
}

.header_logo {
	@extend %header_element;
	@extend %full-width-background;
	// Manually align horizontal bar in logo with center of header
	background: $alpha-color url($img-path + '/sub-logo.svg') (.5 * $grid) ($grid - 2px) no-repeat;
	height: (4 * $grid);
	width: 640px; // Width of logo

	@include respond-to(medium) {
		background: url($img-path + '/sub-logo-centered.svg') center bottom no-repeat;
		background-size: contain;
		height: (5 * $grid);
		margin-bottom: (.5 * $grid);
		max-width: 95%;
		width: 480px; // Width of vertical logo
	}

	a {
		display: block;
		height: 100%;
		width: 100%;
	}
}

.header_bar {
	@extend %clearfix;
	background: $white;
	font-size: $font-size-small;
	padding: (.25 * $grid) (.5 * $grid) $grid;

	@include respond-to(medium) {
		font-size: $font-size;
	}
}

.header_language {
	float: right;

	@include respond-to(medium) {
		position: absolute;
		right: 0;
		top: 0;
	}

	a {
		@include link(false);
		@include fa-icon('globe');
		display: inline-block;

		@include respond-to(medium) {
			@include link(false, true);
			padding: (.5 * $grid);
		}
	}
}

.header_toggle-nav {
	@include fa-icon('bars');
	@include link(false, true);
	background: none;
	border: 0;
	border-bottom: $border-width solid transparent;
	display: none;
	left: 0;
	outline: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 99;

	@include respond-to(medium) {
		display: inline-block;
		padding: (.5 * $grid);
	}

	.-show-off-canvas & {
		@include fa-icon('close', false);
	}
}

.header_image {
	border: solid $white;
	border-width: 0 (.5 * $grid) $grid;
	margin-top: (-.75 * $grid);
	max-height: (10 * $grid);
	overflow: hidden;
	position: relative;
	width: 100%;

	@include respond-to(small) {
		display: none;
	}

	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.header_image-license {
	bottom: 0;
	position: absolute;
	right: 0;
}
