#last {
	padding: 3px 5px;
	color: $darkgrey;
	font-size: $base-font-size * .833;

	a {
		color: $darkblue;

		&:hover {
			text-decoration: underline;
		}

	}

	li {
		display: inline;
		margin: 0 10px 0 0;
		list-style-type: none;
	}

}
