.main {
	background: $white;
	padding: (.5 * $grid);
}

.main_left {
	@include column(medium);
	padding-left: 0;
	width: (11 * $grid);

	@include respond-to(medium) {
		@include off-canvas;
	}
}

.main_right {
	@include column(medium);
	padding-right: 0;

	@include respond-to(medium) {
		padding: 0 (.5 * $grid);
	}

	@include respond-to(small) {
		padding: 0;
	}
}

.main_logo,
.main_ads {
	margin: $grid (.5 * $grid);
}
