.nav {
	// TODO: Apply class nav_link to all links, then use this for styling
	a {
		@include transition(color, background);
		border-bottom: $border-width solid $border-color;
		box-shadow: 0 1px 0 $white inset, 0 -1px 0 $white inset;
		display: block;
		overflow: hidden;
		padding: (.5 * $grid) (.5 * $grid) (.5 * $grid - $border-width);
		text-overflow: ellipsis;
		text-shadow: 1px  0 0 $white, 1px -1px 1px $white, -1px  0 0 $white, -1px -1px 1px $white;

		&.-current {
			background: $pale-color;
			color: $link-color;
			font-weight: bold;
			position: relative;
		}

		&.-toggle {
			@include fa-icon('chevron-down', true, true);

			&:before {
				@include transition(color, transform);
				color: $border-color;
				font-size: $font-size-small;
			}

			&.-open:before {
				// Turn chevron to point upwards
				transform: rotate(-180deg);
			}
		}

		@include hover {
			background: $link-hover-bg-color;
			color: $link-color;

			&.-toggle:before {
				color: $link-color;
			}
		}
	}
}

.nav_list {
	list-style: none;
	padding: 0;

	& & {
		border-left: $border-width solid $border-color;
		margin-left: ($grid - $border-width);
	}
}
