.nav {
	// TODO: Apply class nav_link to all links, then use this for styling
	a {
		@include transition(color, background);
		border-bottom: $border-width solid $border-color;
		display: block;
		overflow: hidden;
		padding: (.5 * $grid) (.5 * $grid) (.5 * $grid - $border-width);
		text-overflow: ellipsis;

		@include hover {
			@include auto-color($brand-color);
			background: $brand-color;
			transition-duration: $transition-duration-out;
		}

		&.-current {
			background: $shadow-light;
			color: $link-color;
			font-weight: bold;
			position: relative;
		}

		&.-toggle {
			@include fa-icon('chevron-down', true, true);

			&:before {
				@include transition(color, transform);
				color: $border-color;
				font-size: $font-size-small;

				@include hover {
					color: $link-color;
				}
			}

			&.-open:before {
				// Turn chevron to point upwards
				transform: rotate(-180deg);
			}
		}
	}
}

.nav_list {
	list-style: none;
	padding: 0;

	& & {
		border-left: $border-width solid $border-color;
		margin-left: ($grid - $border-width);
	}
}
