.news_more,
.news .more {
	@include icon('angle-right', true, true);
	position: relative;

	&::before {
		float: none;
		position: absolute;
		right: -.75em;
		top: -.1em;
	}
}

.news_teaser-text,
.news .teaser-text {
	margin-bottom: $grid;

	p,
	.description {
		display: inline;
	}
}

.news {
	.header {
		background: none;
		padding-top: 0; // otherwise inherits padding from site header
	}
}
