.news_more,
.news .more {
	@include icon('angle-right', $link-color, false, true);
	position: relative;

	&::before {
		float: none;
		position: absolute;
		right: -.75em;
	}
}

.news_teaser-text,
.news .teaser-text {
	margin-bottom: $grid;

	p,
	.description {
		display: inline;
	}
}

.news {
	// Reset styles inherited from site header and footer
	.header,
	.footer {
		background: none;
		color: $text-color-light;
		padding: 0;
		text-align: left;
	}
}
