.news {
	// Reset styles inherited from site header and footer
	.header,
	.footer {
		background: none;
		color: $text-color-light;
		padding: 0;
		text-align: left;
	}

	// TODO: Rename or move this
	.f3-widget-paginator {
		@include pagination;
		margin-left: 0;
	}
}

// Add comma between categories
.news_list {
	&.-category {
		> a + a::before {
			content: ', ';
			margin-left: -.25em;
		}
	}
}

.news_more,
.news .more {
	@include icon('angle-right', $link-color, false, true);
	position: relative;
	white-space: nowrap;

	&::before {
		float: none;
		position: absolute;
		right: -.75em;
	}
}

.news_teaser-text,
.news .teaser-text {
	margin-bottom: $grid;

	p,
	.description {
		display: inline;
	}
}

// TODO: BEM class names below

// Single news date
.news-list-date {
	color: $text-color-light;
	font-weight: bold;
	margin-right: .5em;
}

// Single news heading
.news-single .header > h3 {
	@include typo-scale(3);
}
