.rootNode .GOKID {
	left: -.5em  !important;
}

// Special fuer die GOK Uebersicht
#c2644-GOK-Root {
	display: none;
}

#tx_nkwgok-2644 .rootNode {
	display: none;
}

.gokContainer {
	ul {
		padding: 0 !important;
	}

	.tree {
		ul {
			margin-left: 0 !important;
		}

	}
}

.tree a {
	border-bottom: 0;

	.GOKID {
		left: -2.5em;
	}
}

.gokContainer.tree a .GOKID,
.gokContainer.tree ul .rootNode .GOKID {
	left: -2.5em !important;
}
