.pagination {
	@extend %clearfix;
	margin-left: 0 !important;

	&.-fixed {
		background: $border-color;
		border-radius: 0 0 $br $br;
		padding: .25em .25em 0;
		position: fixed;
		top: (-$border-width);
		z-index: 1;

		@include respond-to(medium) {
			left: 0;
		}
	}

	a {
		@include link(false);
		@include transition(background, color, text-shadow);
		background: $pale-color;
		border: 0;
		border-radius: $br;
		display: block;
		text-align: center;
		width: $grid;

		@include hover {
			background: $link-color;
			color: $white;
			text-shadow: 0 -1px 0 $shadow-dark;
		}
	}

	li {
		display: inline-block;
		margin: 0 0 .25em;

		&:before {
			display: none !important;
		}
	}
}
