.pagination {
	@extend %clearfix;
	margin-left: 0 !important;

	&.-fixed {
		background: $pale-color;
		border: $border-width solid $border-color;
		border-radius: 0 0 $br $br;
		padding: .25em .25em 0;
		position: fixed;
		top: (-$border-width);
		z-index: 1;
	}

	a {
		background: $pale-color;
		border: 0;
		border-radius: $br;
		display: block;
		text-align: center;
		width: $grid;

		@include hover {
			background: $highlight-color;
		}
	}

	li {
		display: inline-block;
		margin: 0 0 .25em;

		&:before {
			display: none !important;
		}
	}
}
