.pagination {

	@include pagination;

	&.-fixed {
		@include drop-shadow;
		border-radius: 0 0 $br $br;
		margin-left: -.25em !important;
		padding: .25em 0 0 .25em;
		position: fixed;
		top: 0;
		z-index: 1;

		@include respond-to(medium) {
			left: .25em;
		}
	}
}

.pagination_numbers {
	margin: 0 1.25em 0 0 !important;

	li {
		margin-bottom: 0;
	}
}

.pagination_item {
	&.-current {
		display: inline-block;
		font-weight: bold;
		width: $grid;
	}
}

.pagination_link {
	&.-last {
		@include icon('fast-forward', false);
	}

	&.-first {
		@include icon('fast-backward', false);
	}

	&.-next {
		@include icon('step-forward', false);
	}

	&.-previous {
		@include icon('step-backward', false);
		margin-right: $grid;
	}
}
