.powermail_fieldwrap {
	margin: (.5 * $grid) 0;
}

.powermail_label {
	padding: (.5 * $grid) 0;

	i {
		cursor: help;
		font-style: normal;
	}
}

.parsley-required {
	display: inline-block;
	margin-top: $font-size;
	margin-left: $font-size / 2;
	box-shadow: 0 -6px 0 $alert inset
}
