.powermail_fieldwrap {
	& + & {
		margin-top: ($grid / 2);
	}

	> input,
	> select,
	> textarea {
		margin-top: (-$grid / 2);
	}

	> fieldset {
		margin: 0;
	}

	[type=submit] {
		margin-top: ($grid / 2);
	}
}

.powermail_label {
	// Reset icon style
	i {
		cursor: help;
		font-style: normal;
	}
}

label.powermail_label { //scss-lint:disable QualifyingElement
	background: $white;
	color: $link-color;
	display: inline-block;
	line-height: 1;
	margin: 0 .5em;
	padding: 0 .5em;
}

legend.powermail_label { //scss-lint:disable QualifyingElement
	color: inherit;
	font-weight: inherit;
	padding-top: ($grid / 2);
}

.powermail_submit {
	margin-top: $grid;
}

.parsley-errors-list.filled {
	@include popup(bottom, $alert-color);
	display: inline-block;
	margin-left: 0;
	position: relative;

	li::before {
		content: none;
	}
}
