.search {
	@extend %header_element;
	@extend %clearfix;
	float: right;
	margin: (-3.5 * $grid) auto 0; // TODO: Magic number for correct alignment, try to get rid of it
	max-width: 40em;
	position: relative;
	z-index: 1;

	@include respond-to(medium) {
		float: none;
		margin-top: 0;
		padding: 0 0 (.5 * $grid);
	}

	@media(max-width: ($search-width + $grid)) {
		right: 0;
		width: 100%;
	}
}

.search_description {
	font-weight: bold;
}

.search_hint {
	clear: both;
	color: $white;
	float: right;
	font-size: $font-size-small;

	.-show-popup & {
		@extend .sr-only;
	}
}

.search_popup {
	@include transition(opacity, visibility);
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	visibility: hidden;

	.-show-popup & {
		opacity: 1;
		visibility: visible;
	}
}

.search_navigation {
	box-shadow: 0 0 $grid rgba($black, .5);
	clip: rect(-999em (8 * $grid) 999em -999em); // Prevent tabs shadow from overlapping search form
	list-style: none;
	padding: 0;
	position: absolute;
	left: (-8 * $grid);
	top: 0;
	width: (8 * $grid);
	z-index: 1;

	@include respond-to(medium) {
		clip: rect(-999em 999em (2 * $grid) -999em);
		display: table;
		left: 0;
		table-layout: fixed;
		top: (-2 * $grid);
		width: 100%;
	}

	@include respond-to(small) {
		clip: rect(-999em 999em (3 * $grid) -999em);
		top: (-3 * $grid);
	}

	li {
		background: $pale-color;
		display: block;
		border-bottom: $border-width solid $border-color;
		overflow: hidden; // Prevent links from overflowing border-radius

		@include respond-to(medium) {
			border-bottom: 0;
			border-right: $border-width solid $border-color;
			display: table-cell;
		}

		&:first-child {
			border-radius: $br 0 0;
		}

		&:last-child {
			border-bottom: 0;
			border-radius: 0 0 0 $br;

			@include respond-to(medium) {
				border-right: 0;
				border-radius: 0 $br 0 0;
			}
		}

		&.-active {
			background: $white;
			color: $link-color;
		}
	}

	a {
		@include transition(background);
		display: block;
		padding: (.5 * $grid);
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;

		@include hover {
			background: $highlight-color;
		}

		@include respond-to(small) {
			height: (3 * $grid);
		}
	}
}

.search_form {
	display: none;
	padding: (.5 * $grid) (.5 * $grid) 0;
	position: relative;
	z-index: 9;

	&.-visible {
		display: block;
	}
}

.search_input {
	@include text-input;
	@include transition(width);
	border: $border-width inset $lightblue;
	box-shadow: .1em .1em .5em rgba($black, .2) inset;
	float: right;
	padding-right: (2 * $grid);
	width: (9 * $grid);

	@include respond-to(medium) {
		width: 100%;
	}

	&:focus {
		border: $border-width solid $link-hover-color;
		outline: 0;
	}

	.-show-popup & {
		width: 100%;
	}
}

.search_submit {
	@include fa-icon('search', false);
	background: none;
	border: 0;
	color: $nav-background-color;
	font-size: 1.5em;
	height: (2 * $grid);
	min-width: (2 * $grid);
	position: absolute;
	right: (.5 * $grid);
	top: (.5 * $grid);
	width: (2 * $grid);

	&:focus,
	&:hover,
	&:active {
		color: $link-color;
	}
}

.search_content {
	background: $white;
	border-radius: 0 $br $br;
	box-shadow: 0 0 $grid rgba($black, .5);
	display: none;
	padding: ($grid * 3) $grid $grid;
	position: absolute;
	top: 0;
	width: 100%;

	@include respond-to(medium) {
		border-radius: 0 0 $br $br;
	}

	&.-visible {
		display: block;
	}

	a {
		@extend %link-with-border-on-hover;
	}
}

.search_label {
	clear: both;
	display: block;
}

.search_label-link {
	float: right;
}

.search_subjects,
.search_tags {
	margin-left: $grid;
}

.search_area,
.search_subject,
.search_tag {
	&:before {
		@include fa-icon('caret-right');
		color: $lightblue;
		margin-right: .5em;
	}
}

.search_highlight {
	background: $pale-color;
}
