.search {
	@extend %header_element;
	@extend %clearfix;
	@include transition(margin);
	float: right;
	margin: (-2.5 * $grid) (-$grid / 2) 0 0;
	max-width: 100%;
	position: relative;
	z-index: 99;

	@include respond-to(large) {
		margin-top: (-2.5 * $grid);

		&.-show-popup {
			margin: (-2.5 * $grid) 0;
			width: 100%;
		}
	}

	@include respond-to(medium) {
		&.-show-popup {
			margin-top: -1.5 * $grid;
		}
	}

	@include respond-to(small) {
		float: none;
		right: 0;
		margin: 0 auto;
		width: 20 * $grid;

		&.-show-popup {
			margin: 0 auto;
		}
	}

	&.-show-popup {
		width: 20 * $grid !important;
	}
}

.search_close {
	@include icon('close', $link-color, false);
	@include transition(background);
	background: none;
	bottom: round($grid / 4);
	border: 0;
	height: $grid;
	line-height: 1;
	padding: 0;
	position: absolute;
	right: round($grid / 4);
	width: $grid;

	@include hover {
		background: $link-hover-bg-color;
	}
}

.search_content {
	background: $white;
	border-radius: 0 $br $br;
	box-shadow: $drop-shadow;
	display: none;
	left: (-$grid / 2);
	padding: ($grid * 3) $grid $grid;
	position: absolute;
	top: 0;
	width: 100%;

	@include respond-to(medium) {
		border-radius: 0 0 $br $br;
	}

	&.-catalog a {
		@include link;
	}

	&.-visible {
		display: block;
	}

	a {
		@include link(false);
	}
}

.search_description {
	font-weight: bold;
}

.search_form {
	display: none;
	padding: ($grid / 2) ($grid / 2) 0;
	position: relative;
	z-index: 1;

	&.-visible {
		display: block;
	}
}

.search_highlight {
	background: $shadow-light;
}

.search_hint {
	clear: both;
	color: $white;
	float: right;
	font-size: $font-size-small;
	line-height: ($font-size-small / $font-size * $grid);

	.-show-popup & {
		@extend .sr-only;
	}
}

.search_info {
	color: $text-color-light;
	display: none;
	margin-left: $grid;
}

.search_info-toggle {
	@include transition(background, color);
	background: none;
	border: 0;
	color: $link-color;
	width: $grid;

	@include hover {
		background: $link-hover-bg-color;
	}

	&.-hide {
		@include icon('close', $link-color, false);
		display: none;
	}

	&.-show {
		@include icon('info', $link-color, false);
	}
}

.search_input {
	@include text-input;
	@include transition(width);
	border: $border-width solid $input-border-color;
	box-shadow: .1em .1em .5em rgba($black, .2) inset;
	float: right;
	padding-right: round(1.75 * $grid);
	position: relative;
	width: 12 * $grid;
	z-index: 9;

	@include respond-to(large) {
		width: 17em; // Minimum required width to fit placeholder into input
	}

	@include respond-to(small) {
		width: 100%;
	}

	&:focus {
		border: $border-width solid $input-border-color-focus;
		outline: 0;
	}

	&::placeholder {
		color: $text-color-light;
		opacity: 1; // Firefox fix
	}

	.-show-popup & {
		width: 100%;
	}
}

.search_item {
	clear: both;
}

.search_label {
	&.-bold {
		font-weight: bold;
	}
}

.search_label-addon {
	display: inline-block;

	@include respond-to(tiny) {
		display: block;
		margin-left: $grid;
	}
}

$search-nav-width: 6.75 * $grid;

.search_navigation {
	@include drop-shadow;
	background: $white;
	clip: rect(-999em $search-nav-width 999em -999em); // Prevent tabs shadow from overlapping search form
	list-style: none;
	padding: 0;
	position: absolute;
	left: (-$search-nav-width);
	top: 0;
	width: $search-nav-width;
	z-index: 2;

	@include respond-to(medium) {
		clip: rect(-999em 999em (2 * $grid) -999em);
		display: table;
		left: 0;
		table-layout: fixed;
		top: (-2 * $grid);
		width: 100%;
	}

	li {
		background: $shadow-light;
		display: block;
		border-bottom: $border-width solid $border-color;
		overflow: hidden; // Prevent links from overflowing border-radius
		vertical-align: top;

		@include respond-to(medium) {
			border-bottom: 0;
			border-right: $border-width solid $border-color;
			display: table-cell;
		}

		&:first-child {
			border-radius: $br 0 0;
		}

		&:last-child {
			border-bottom: 0;
			border-radius: 0 0 0 $br;

			@include respond-to(medium) {
				border-right: 0;
				border-radius: 0 $br 0 0;
			}
		}

		&.-active {
			background: $white;
			color: $link-color;
			font-weight: bold;
		}
	}

	a {
		@include link(false);
		@include transition(background);
		display: block;
		overflow: hidden;
		padding: ($grid / 2);
		position: relative;
		text-overflow: ellipsis;

		@include hover {
			@include auto-color($brand-color);
			background: $brand-color;
		}
	}
}

.search_popup {
	@include transition(opacity);
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 2; // Prevent shadow overlap during transition

	.-show-popup & {
		opacity: 1;
		visibility: visible;
	}
}

.search_submit {
	@include icon('search', $link-color, false);
	@include transition(background);
	background: none;
	border: 0;
	height: 1.5 * $grid;
	position: absolute;
	right: round(.75 * $grid);
	top: round(.75 * $grid);
	width: 1.5 * $grid;
	z-index: 9;

	@include hover {
		background: $link-hover-bg-color;
	}

	&::before {
		height: $grid;
		width: $grid;
	}
}

.search_subjects,
.search_tags {
	margin-left: $grid;
}

.search_area,
.search_subject,
.search_tag {
	@include icon('caret-right', $brand-color-light);
}
