.sidebar {
	@include column(small);
	padding-right: 0;
	width: (10 * $grid);

	@include respond-to(small) {
		border-top: 3px solid lighten($border-color, 5);
		padding: ($grid - 3px) 0 0;
	}

	> div {
		border-left: ($border-width * 2) solid lighten($border-color, 5);
		//margin-top: (.25 * $grid);
		padding-left: ($grid - ($border-width * 2));

		@include respond-to(small) {
			border: 0;
			padding-left: 0;
		}
	}

	> div + div {
		margin-top: ($grid);
	}

	a {
		@extend %link-with-border-on-hover;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include typo-scale(1);
		color: $heading-color;
		margin-bottom: (.5 * $grid);
	}

	li {
		margin-bottom: (.5 * $grid);
	}
}
