// NOTE: This section's DOM is entirely JS-generated

.sidebar-nav {
	@include icon('info-circle', $text-color-light);
	background: $shadow-light;
	display: none;
	margin-bottom: $grid;
	table-layout: fixed;
	width: 100%;

	@include respond-to(small) {
		display: table;
	}

	&::before {
		background-color: $shadow-light;
		background-size: $grid;
		color: $text-color-light;
		padding: .5em;
		display: table-cell;
		text-align: center;
		top: 0;
		width: 2em;
	}
}

.sidebar-nav_list {
	display: table-cell;
	margin: 0 !important;
	padding: ($grid / 4) .5em;
}

.sidebar-nav_item {
	display: block;

	& + & {
		margin-top: ($grid / 2);
	}
}

.sidebar-nav_link {
	box-shadow: none !important;

	&:hover {
		background: $shadow-light !important;
	}
}
