.sidebar {
	@include column(small);
	padding-right: 0;
	width: (10 * $grid);

	@include respond-to(small) {
		border-top: $border-width solid $border-color;
		padding: ($grid - $border-width) 0 0;
	}

	// TODO: Change class names
	.personDetail + .personDetail {
		margin-top: $grid;
	}

	> div {
		border-left: $border-width solid $border-color;
		padding-left: ($grid - $border-width);

		@include respond-to(small) {
			border: 0;
			padding-left: 0;
		}
	}

	> div + div {
		margin-top: ($grid);
	}

	a {
		@include link(false);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include typo-scale(1);
		color: $heading-color;
		font-family: $font-family-display;
		margin-bottom: ($grid / 2);
		position: relative;
	}

	ul {
		@extend %clearfix;
	}

	li {
		margin-bottom: (.5 * $grid);

		&:last-child {
			margin: 0;
		}
	}
}
