$facebook-color: #3b5998;
$twitter-color: #00aced;

.icon-facebook-sign,
.fa-facebook {
	color: $facebook-color;
}

.icon-twitter-sign,
.fa-twitter {
	color: $twitter-color;
}

.infobox__social {

	.fa {
		float: left; // Preventing link hover styles from affecting icon
		font-size: ($ratio * $font-size);
		line-height: $line-height;
		padding-right: .5em;
		min-width: 1.5em;
		position: relative;
		text-align: center;
	}
}
