.infobox_social {

	.fa {
		float: left; // Preventing link hover styles from affecting icon
		font-size: ($ratio * $font-size);
		line-height: $line-height;
		padding-right: .5em;
		min-width: 1.5em;
		position: relative;
		text-align: center;
	}

}
