.icon-facebook-sign,
.fa-facebook {
	color: #3b5998;
}

.icon-twitter-sign,
.fa-twitter {
	color: #00aced;
}

.sub-social {
	i {
		margin-right: 4px;
	}

}

.infobox__social {

	.fa {
		float: left; // Preventing link hover styles from affecting icon
		font-size: ($ratio * $font-size);
		line-height: $line-height;
		margin-right: .5em;
		min-width: 1em;
		position: relative;
		text-align: center;
	}
}
