.solr-search_form {
	display: table;
	width: 100%;
}

.solr-search_label,
.solr-search_submit {
	display: table-cell;
	vertical-align: top;
}

.solr-search_label {
	padding-right: .5em;
	width: 100%;
}

.solr-search_input {
	width: 100%;
}

.results-topic {
	img {
		float: right;
	}
}
