.subforms {
	.fieldwrap {
		+ .fieldwrap {
			margin-top: ($grid / 2);
		}

		// TODO: Merge with indentical Powermail styles
		> label { //scss-lint:disable QualifyingElement
			background: $white;
			color: $link-color;
			display: inline-block;
			line-height: 1;
			margin: 0 .5em;
			padding: 0 .5em;
			position: relative;
			z-index: 9;

			+ input,
			+ select,
			+ textarea {
				position: relative;
				margin-top: (-$grid / 2);
			}
		}
	}
}
