.substaff-contact {
	font-size: $base-font-size;
	margin-left: 0 !important;
	color: $darkgrey;
	margin-bottom: 21px;

	ul {
		margin-left: 0 !important;
	}

	li {
		list-style-type: none;
		list-style-image: none !important;
	}

}
