// This is toggled via JavaScript on mobile devices
.mobile-only {
	display: none;
}

// Used for digit grouping
.space {
	margin-left: .2em;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
