@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 75%;
  line-height: 1.5em;
}

.Img-sprite, .Img-arrow_right, .Img-arrow_right_2, .Img-bullet, .Img-button_shade_large, .Img-cc_commons, .Img-header, .Img-logo_print, .Img-nur_cc, .Img-nur_info, .Img-printlogo, .Img-sublogo, .Img-unilogo {
  background-image: url('../Icons/Img-se7b60f2189.png');
  background-repeat: no-repeat;
}

.Img-arrow_right {
  background-position: 0 0;
}

.Img-arrow_right_2 {
  background-position: 0 -8px;
}

.Img-bullet {
  background-position: 0 -28px;
}

.Img-button_shade_large {
  background-position: 0 -41px;
}

.Img-cc_commons {
  background-position: 0 -72px;
}

.Img-header {
  background-position: 0 -108px;
}

.Img-logo_print {
  background-position: 0 -218px;
}

.Img-nur_cc {
  background-position: 0 -279px;
}

.Img-nur_info {
  background-position: 0 -308px;
}

.Img-printlogo {
  background-position: 0 -337px;
}

.Img-sublogo {
  background-position: 0 -428px;
}

.Img-unilogo {
  background-position: 0 -506px;
}

::selection, ::-moz-selection {
  background-color: #dee1e7;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

ul li {
  list-style-type: circle;
}

a {
  color: #1a3771;
}
a:link {
  cursor: pointer;
}
a:visited {
  color: #1a3771;
}
a:focus {
  color: #1a3771;
}
a:hover {
  color: #1a3771;
}
a:active {
  color: #1a3771;
}
a.skip {
  position: absolute;
  left: -1000em;
  top: -1000em;
  height: 1px;
  width: 1px;
}
a.skip:focus, a.skip:active {
  position: absolute;
  z-index: 1;
  top: 4px;
  left: 4px;
  height: auto;
  width: auto;
  color: #000;
  background-color: #eee;
  outline: 1px solid #999;
}

address {
  font-style: normal;
  margin-bottom: 5px;
}

dfn {
  font-style: normal;
  cursor: help;
}

/* Forms */
fieldset .powermail_check_inner label, fieldset .powermail_radio_inner label, fieldset .fieldwrap_radio label {
  float: none;
  display: inline;
  font-weight: normal;
  margin-left: 0 !important;
  width: 435px;
}
fieldset.tx-powermail-pi1_fieldset {
  background-color: white !important;
  padding: 0 !important;
}

legend {
  font-weight: bold;
  padding: 0 0 10px 0;
}

input, textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.66667em;
  border: 1px solid #dee1e7;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

input[type=checkbox],
input[type=radio],
input[type=button],
input[type=submit],
label,
select {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

table {
  width: 100.01%;
  border: none;
  color: #434343;
  padding: 0;
  margin-bottom: 1em;
}
table caption {
  color: #1a3771;
  font-size: 1.3em;
  line-height: 2.30769em;
}
table td {
  padding: 2px 3px;
  border: 1px solid #cccccc;
  margin: 0;
  line-height: 1.5em;
  vertical-align: top;
}
table thead {
  background-color: #dee1e7;
}
table th {
  padding: 2px 3px;
  border: none;
  background-color: #dee1e7;
  line-height: 1.5em;
  vertical-align: top;
  color: #101010;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
}
table .tr-even {
  background-color: #dee1e7;
}
table .tr-0 {
  font-weight: bold;
}

/* Sys Classes */
.clear {
  clear: both;
}

.note {
  font-size: 0.833em;
  line-height: 1.80072em;
}

.hint {
  font-style: italic;
}

.msg {
  background-color: #dee1e7;
  padding-bottom: 0 !important;
  margin: 0 12px 10px 10px;
  padding: 20px;
  font-size: 1.3em;
  line-height: 2.30769em;
  font-weight: bold;
}

.red {
  background-color: red;
}

.indent {
  margin-left: 20px;
}

.noIndentUl {
  margin: 0 !important;
  padding: 0;
}
.noIndentUl .az {
  display: inline;
  list-style-type: none;
}

.ddd a {
  color: #1a3771;
}

.liAsHeader li {
  list-style-type: none;
}

.letterNavi li {
  display: inline;
}

.wideFormInput {
  width: 564px;
  background-color: rgba(223, 225, 232, 0.2);
  margin: 5px 0 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-style: inset;
}
.wideFormInput:focus {
  background-color: rgba(223, 225, 232, 0.5);
}

.jscalendar_cb {
  display: none;
}

/*!
 *  Font Awesome 3.2.1
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/davegandy
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../Fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../Fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../Fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../Fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../Fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* FONT AWESOME CORE
 * -------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}

/* increased font size for icon-large */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.14286em;
  text-align: right;
  padding-right: 0.28571em;
}
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.42857em;
}

.icons-ul {
  margin-left: 2.14286em;
  list-style-type: none;
}
.icons-ul > li {
  position: relative;
}
.icons-ul .icon-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  text-align: center;
  line-height: inherit;
}

[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}

.icon-muted {
  color: #eeeeee;
}

.icon-light {
  color: white;
}

.icon-dark {
  color: #333333;
}

.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.icon-5x {
  font-size: 5em;
}
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* keeps Bootstrap styles with and without icons the same */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* Fixes alignment in nav lists */
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  line-height: inherit;
}

/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}

/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-stack,
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
/* Icon rotations and mirroring */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* ensure rotation occurs inside anchor tags */
a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
  display: inline-block;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}

.icon-music:before {
  content: "\f001";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope-alt:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-empty:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-zoom-in:before {
  content: "\f00e";
}

.icon-zoom-out:before {
  content: "\f010";
}

.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}

.icon-signal:before {
  content: "\f012";
}

.icon-gear:before,
.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-file-alt:before {
  content: "\f016";
}

.icon-time:before {
  content: "\f017";
}

.icon-road:before {
  content: "\f018";
}

.icon-download-alt:before {
  content: "\f019";
}

.icon-download:before {
  content: "\f01a";
}

.icon-upload:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-play-circle:before {
  content: "\f01d";
}

.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-volume-off:before {
  content: "\f026";
}

.icon-volume-down:before {
  content: "\f027";
}

.icon-volume-up:before {
  content: "\f028";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-text-height:before {
  content: "\f034";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-align-left:before {
  content: "\f036";
}

.icon-align-center:before {
  content: "\f037";
}

.icon-align-right:before {
  content: "\f038";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-indent-left:before {
  content: "\f03b";
}

.icon-indent-right:before {
  content: "\f03c";
}

.icon-facetime-video:before {
  content: "\f03d";
}

.icon-picture:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-adjust:before {
  content: "\f042";
}

.icon-tint:before {
  content: "\f043";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share:before {
  content: "\f045";
}

.icon-check:before {
  content: "\f046";
}

.icon-move:before {
  content: "\f047";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-eject:before {
  content: "\f052";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-screenshot:before {
  content: "\f05b";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}

.icon-resize-full:before {
  content: "\f065";
}

.icon-resize-small:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-asterisk:before {
  content: "\f069";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-leaf:before {
  content: "\f06c";
}

.icon-fire:before {
  content: "\f06d";
}

.icon-eye-open:before {
  content: "\f06e";
}

.icon-eye-close:before {
  content: "\f070";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-random:before {
  content: "\f074";
}

.icon-comment:before {
  content: "\f075";
}

.icon-magnet:before {
  content: "\f076";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-retweet:before {
  content: "\f079";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-close:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-resize-vertical:before {
  content: "\f07d";
}

.icon-resize-horizontal:before {
  content: "\f07e";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-twitter-sign:before {
  content: "\f081";
}

.icon-facebook-sign:before {
  content: "\f082";
}

.icon-camera-retro:before {
  content: "\f083";
}

.icon-key:before {
  content: "\f084";
}

.icon-gears:before,
.icon-cogs:before {
  content: "\f085";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-up-alt:before {
  content: "\f087";
}

.icon-thumbs-down-alt:before {
  content: "\f088";
}

.icon-star-half:before {
  content: "\f089";
}

.icon-heart-empty:before {
  content: "\f08a";
}

.icon-signout:before {
  content: "\f08b";
}

.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-pushpin:before {
  content: "\f08d";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-signin:before {
  content: "\f090";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-github-sign:before {
  content: "\f092";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-lemon:before {
  content: "\f094";
}

.icon-phone:before {
  content: "\f095";
}

.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}

.icon-bookmark-empty:before {
  content: "\f097";
}

.icon-phone-sign:before {
  content: "\f098";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-github:before {
  content: "\f09b";
}

.icon-unlock:before {
  content: "\f09c";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-rss:before {
  content: "\f09e";
}

.icon-hdd:before {
  content: "\f0a0";
}

.icon-bullhorn:before {
  content: "\f0a1";
}

.icon-bell:before {
  content: "\f0a2";
}

.icon-certificate:before {
  content: "\f0a3";
}

.icon-hand-right:before {
  content: "\f0a4";
}

.icon-hand-left:before {
  content: "\f0a5";
}

.icon-hand-up:before {
  content: "\f0a6";
}

.icon-hand-down:before {
  content: "\f0a7";
}

.icon-circle-arrow-left:before {
  content: "\f0a8";
}

.icon-circle-arrow-right:before {
  content: "\f0a9";
}

.icon-circle-arrow-up:before {
  content: "\f0aa";
}

.icon-circle-arrow-down:before {
  content: "\f0ab";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-fullscreen:before {
  content: "\f0b2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-cloud:before {
  content: "\f0c2";
}

.icon-beaker:before {
  content: "\f0c3";
}

.icon-cut:before {
  content: "\f0c4";
}

.icon-copy:before {
  content: "\f0c5";
}

.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}

.icon-save:before {
  content: "\f0c7";
}

.icon-sign-blank:before {
  content: "\f0c8";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-list-ul:before {
  content: "\f0ca";
}

.icon-list-ol:before {
  content: "\f0cb";
}

.icon-strikethrough:before {
  content: "\f0cc";
}

.icon-underline:before {
  content: "\f0cd";
}

.icon-table:before {
  content: "\f0ce";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-truck:before {
  content: "\f0d1";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-pinterest-sign:before {
  content: "\f0d3";
}

.icon-google-plus-sign:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-columns:before {
  content: "\f0db";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}

.icon-legal:before {
  content: "\f0e3";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-comment-alt:before {
  content: "\f0e5";
}

.icon-comments-alt:before {
  content: "\f0e6";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-umbrella:before {
  content: "\f0e9";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-lightbulb:before {
  content: "\f0eb";
}

.icon-exchange:before {
  content: "\f0ec";
}

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-cloud-upload:before {
  content: "\f0ee";
}

.icon-user-md:before {
  content: "\f0f0";
}

.icon-stethoscope:before {
  content: "\f0f1";
}

.icon-suitcase:before {
  content: "\f0f2";
}

.icon-bell-alt:before {
  content: "\f0f3";
}

.icon-coffee:before {
  content: "\f0f4";
}

.icon-food:before {
  content: "\f0f5";
}

.icon-file-text-alt:before {
  content: "\f0f6";
}

.icon-building:before {
  content: "\f0f7";
}

.icon-hospital:before {
  content: "\f0f8";
}

.icon-ambulance:before {
  content: "\f0f9";
}

.icon-medkit:before {
  content: "\f0fa";
}

.icon-fighter-jet:before {
  content: "\f0fb";
}

.icon-beer:before {
  content: "\f0fc";
}

.icon-h-sign:before {
  content: "\f0fd";
}

.icon-plus-sign-alt:before {
  content: "\f0fe";
}

.icon-double-angle-left:before {
  content: "\f100";
}

.icon-double-angle-right:before {
  content: "\f101";
}

.icon-double-angle-up:before {
  content: "\f102";
}

.icon-double-angle-down:before {
  content: "\f103";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-desktop:before {
  content: "\f108";
}

.icon-laptop:before {
  content: "\f109";
}

.icon-tablet:before {
  content: "\f10a";
}

.icon-mobile-phone:before {
  content: "\f10b";
}

.icon-circle-blank:before {
  content: "\f10c";
}

.icon-quote-left:before {
  content: "\f10d";
}

.icon-quote-right:before {
  content: "\f10e";
}

.icon-spinner:before {
  content: "\f110";
}

.icon-circle:before {
  content: "\f111";
}

.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}

.icon-github-alt:before {
  content: "\f113";
}

.icon-folder-close-alt:before {
  content: "\f114";
}

.icon-folder-open-alt:before {
  content: "\f115";
}

.icon-expand-alt:before {
  content: "\f116";
}

.icon-collapse-alt:before {
  content: "\f117";
}

.icon-smile:before {
  content: "\f118";
}

.icon-frown:before {
  content: "\f119";
}

.icon-meh:before {
  content: "\f11a";
}

.icon-gamepad:before {
  content: "\f11b";
}

.icon-keyboard:before {
  content: "\f11c";
}

.icon-flag-alt:before {
  content: "\f11d";
}

.icon-flag-checkered:before {
  content: "\f11e";
}

.icon-terminal:before {
  content: "\f120";
}

.icon-code:before {
  content: "\f121";
}

.icon-reply-all:before {
  content: "\f122";
}

.icon-mail-reply-all:before {
  content: "\f122";
}

.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

.icon-location-arrow:before {
  content: "\f124";
}

.icon-crop:before {
  content: "\f125";
}

.icon-code-fork:before {
  content: "\f126";
}

.icon-unlink:before {
  content: "\f127";
}

.icon-question:before {
  content: "\f128";
}

.icon-info:before {
  content: "\f129";
}

.icon-exclamation:before {
  content: "\f12a";
}

.icon-superscript:before {
  content: "\f12b";
}

.icon-subscript:before {
  content: "\f12c";
}

.icon-eraser:before {
  content: "\f12d";
}

.icon-puzzle-piece:before {
  content: "\f12e";
}

.icon-microphone:before {
  content: "\f130";
}

.icon-microphone-off:before {
  content: "\f131";
}

.icon-shield:before {
  content: "\f132";
}

.icon-calendar-empty:before {
  content: "\f133";
}

.icon-fire-extinguisher:before {
  content: "\f134";
}

.icon-rocket:before {
  content: "\f135";
}

.icon-maxcdn:before {
  content: "\f136";
}

.icon-chevron-sign-left:before {
  content: "\f137";
}

.icon-chevron-sign-right:before {
  content: "\f138";
}

.icon-chevron-sign-up:before {
  content: "\f139";
}

.icon-chevron-sign-down:before {
  content: "\f13a";
}

.icon-html5:before {
  content: "\f13b";
}

.icon-css3:before {
  content: "\f13c";
}

.icon-anchor:before {
  content: "\f13d";
}

.icon-unlock-alt:before {
  content: "\f13e";
}

.icon-bullseye:before {
  content: "\f140";
}

.icon-ellipsis-horizontal:before {
  content: "\f141";
}

.icon-ellipsis-vertical:before {
  content: "\f142";
}

.icon-rss-sign:before {
  content: "\f143";
}

.icon-play-sign:before {
  content: "\f144";
}

.icon-ticket:before {
  content: "\f145";
}

.icon-minus-sign-alt:before {
  content: "\f146";
}

.icon-check-minus:before {
  content: "\f147";
}

.icon-level-up:before {
  content: "\f148";
}

.icon-level-down:before {
  content: "\f149";
}

.icon-check-sign:before {
  content: "\f14a";
}

.icon-edit-sign:before {
  content: "\f14b";
}

.icon-external-link-sign:before {
  content: "\f14c";
}

.icon-share-sign:before {
  content: "\f14d";
}

.icon-compass:before {
  content: "\f14e";
}

.icon-collapse:before {
  content: "\f150";
}

.icon-collapse-top:before {
  content: "\f151";
}

.icon-expand:before {
  content: "\f152";
}

.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}

.icon-gbp:before {
  content: "\f154";
}

.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}

.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}

.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}

.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}

.icon-won:before,
.icon-krw:before {
  content: "\f159";
}

.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}

.icon-file:before {
  content: "\f15b";
}

.icon-file-text:before {
  content: "\f15c";
}

.icon-sort-by-alphabet:before {
  content: "\f15d";
}

.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}

.icon-sort-by-attributes:before {
  content: "\f160";
}

.icon-sort-by-attributes-alt:before {
  content: "\f161";
}

.icon-sort-by-order:before {
  content: "\f162";
}

.icon-sort-by-order-alt:before {
  content: "\f163";
}

.icon-thumbs-up:before {
  content: "\f164";
}

.icon-thumbs-down:before {
  content: "\f165";
}

.icon-youtube-sign:before {
  content: "\f166";
}

.icon-youtube:before {
  content: "\f167";
}

.icon-xing:before {
  content: "\f168";
}

.icon-xing-sign:before {
  content: "\f169";
}

.icon-youtube-play:before {
  content: "\f16a";
}

.icon-dropbox:before {
  content: "\f16b";
}

.icon-stackexchange:before {
  content: "\f16c";
}

.icon-instagram:before {
  content: "\f16d";
}

.icon-flickr:before {
  content: "\f16e";
}

.icon-adn:before {
  content: "\f170";
}

.icon-bitbucket:before {
  content: "\f171";
}

.icon-bitbucket-sign:before {
  content: "\f172";
}

.icon-tumblr:before {
  content: "\f173";
}

.icon-tumblr-sign:before {
  content: "\f174";
}

.icon-long-arrow-down:before {
  content: "\f175";
}

.icon-long-arrow-up:before {
  content: "\f176";
}

.icon-long-arrow-left:before {
  content: "\f177";
}

.icon-long-arrow-right:before {
  content: "\f178";
}

.icon-apple:before {
  content: "\f179";
}

.icon-windows:before {
  content: "\f17a";
}

.icon-android:before {
  content: "\f17b";
}

.icon-linux:before {
  content: "\f17c";
}

.icon-dribbble:before {
  content: "\f17d";
}

.icon-skype:before {
  content: "\f17e";
}

.icon-foursquare:before {
  content: "\f180";
}

.icon-trello:before {
  content: "\f181";
}

.icon-female:before {
  content: "\f182";
}

.icon-male:before {
  content: "\f183";
}

.icon-gittip:before {
  content: "\f184";
}

.icon-sun:before {
  content: "\f185";
}

.icon-moon:before {
  content: "\f186";
}

.icon-archive:before {
  content: "\f187";
}

.icon-bug:before {
  content: "\f188";
}

.icon-vk:before {
  content: "\f189";
}

.icon-weibo:before {
  content: "\f18a";
}

.icon-renren:before {
  content: "\f18b";
}

/* Template */
#wrap {
  max-width: 1000px;
  margin: 0 auto;
}

#bigpicture {
  position: relative;
  max-height: 228px;
}
#bigpicture img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
#bigpicture .bigpicture-license {
  position: absolute;
  right: 0;
  bottom: 0;
}
#bigpicture .bigpicture-license img:hover {
  cursor: help;
  max-width: auto;
}
#bigpicture .bigpicture-license-cc {
  position: absolute;
  right: 0;
  left: 971px;
  max-width: 29px;
}
#bigpicture .bigpicture-license-cc a:hover {
  cursor: help;
}
#bigpicture .bigpicture-license-wc {
  left: 936px;
  width: 64px;
}
#bigpicture .bigpicture-license-info {
  position: absolute;
  right: 0;
  max-width: 29px;
}
#bigpicture .bigpicture-license-info a:hover {
  cursor: help;
}

.menubox {
  max-width: 200px;
  float: left;
  max-width: 200px;
  float: left;
  width: 20%;
}

.unilogo {
  max-width: 100%;
  text-align: center;
}
.unilogo img {
  margin: 10px 0;
  width: auto;
  height: auto;
}

.werbung {
  padding: 20px 0;
}

/* Header */
header#header {
  max-width: 1000px;
  height: auto;
  max-height: 110px;
  background-color: #1a3771;
  width: 100%;
}
header#header a {
  text-decoration: none;
}
header#header a.linkHome {
  position: absolute;
  width: 200px;
  height: 110px;
  z-index: 4242;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/clear.gif");
}
header#header img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
header#header #logo {
  max-height: 110px;
}

#headerline {
  background-color: #93a8cf;
  color: white;
  text-align: right;
  padding: 0 5px 0 0;
  font-size: 0.8em;
  line-height: 1.875em;
  overflow: visible;
  height: 18px;
}
#headerline a {
  text-decoration: none;
  color: white;
}
#headerline a:hover {
  color: white;
}

.middle p {
  font-size: 1em;
  line-height: 1.5em;
}
.middle p > p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0.75em;
}
.middle h1 {
  color: #1a3771;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
.middle h2 {
  color: #1a3771;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 0.5em;
}
.middle h3 {
  color: #1a3771;
  font-size: 1.167em;
  line-height: 2.57069em;
}
.middle h4 {
  color: #1a3771;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: bold;
}
.middle h5 {
  color: #1a3771;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
.middle ol {
  margin-left: 2em;
  margin-bottom: 0.75em;
  list-style-type: decimal;
}
.middle table caption {
  padding: 0 0 10px 0;
  font-weight: bold;
  color: #434343;
  font-size: 100%;
}
.middle .csc-caption {
  padding: 0;
}
.middle .karte {
  display: none;
}
.middle .formButton {
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/button_shade_large.png") repeat-x scroll 0 100% #f3f6fb;
  margin-left: 0;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  line-height: 100%;
  padding: 3px 12px !important;
  height: 28px;
  color: #434343;
}

.contentbox {
  font-size: 1em;
  line-height: 1.5em;
  background-color: white;
  max-width: 100%;
  min-height: 690px;
}
.contentbox fieldset {
  padding-bottom: 10px;
}
.contentbox ol {
  color: #434343;
}
.contentbox ol li {
  font-size: 1em;
  line-height: 1.5em;
}
.contentbox ul {
  color: #434343;
  margin-bottom: 0.75em;
}
.contentbox p {
  margin-bottom: 0.75em;
  color: #434343;
}
.contentbox .resetUlMargin {
  margin: 0;
}
.contentbox .gokContainer a {
  border-bottom: none;
  text-decoration: none;
}
.contentbox .gokContainer ul {
  margin-left: 0;
  padding-left: 0 !important;
  margin-top: 0;
  padding-bottom: 0;
}
.contentbox .gokContainer ul li {
  list-style: none;
  padding-left: 2em;
  text-indent: -2em;
  list-style-image: none;
}
.contentbox .gokContainer ul li li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.contentbox .gokContainer ul li a {
  border-bottom: none;
  text-decoration: none;
}

.infocontent {
  font-size: 1em;
  line-height: 1.5em;
  float: right;
  width: 26%;
  color: #434343;
  background-color: #dee1e7;
}
.infocontent a {
  text-decoration: none;
}
.infocontent p {
  padding: 0.5em 0.75em;
}
.infocontent h1, .infocontent h2, .infocontent h6 {
  background-color: #6e7fa0;
  color: white;
  font-size: 1em;
  line-height: 1.5em;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
.infocontent ul {
  margin-top: 8px;
  padding: 5px 5px 0 20px;
}
.infocontent ul li {
  font-size: 1em;
  line-height: 1.5em;
  list-style-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right.png");
}
.infocontent ul li img {
  margin-top: 8px;
}
.infocontent .csc-default p {
  background-color: #dee1e7;
  padding: 5px 0;
}
.infocontent .csc-default p.bodytext {
  padding: 5px 5px 5px 10px;
}
.infocontent .tx-ttaddress-pi1, .infocontent .tx-substaff {
  background-color: #dee1e7;
  padding: 5px 10px;
  -moz-border-radius-bottomleft: 7px;
  -webkit-border-bottom-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.infocontent .tx-ttaddress-pi1 h1, .infocontent .tx-ttaddress-pi1 h2, .infocontent .tx-substaff h1, .infocontent .tx-substaff h2 {
  margin: 0;
  padding: 5px;
  background-color: #6e7fa0;
  color: white !important;
  font-size: 12px !important;
  font-size: 1em;
  line-height: 1.5em;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.infocontent .tx-ttaddress-pi1 h3, .infocontent .tx-substaff h3 {
  padding: 0 !important;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.5em;
}
.infocontent .tx-ttaddress-pi1 img.photo, .infocontent .tx-substaff img.photo {
  width: 100.01%;
  height: auto;
  padding-top: 5px;
}
.infocontent .tx-ttaddress-pi1 ul, .infocontent .tx-substaff ul {
  list-style-image: none;
  list-style: none;
  padding: 5px 5px 0 0;
  margin: 0 0 10px 0;
  font-weight: normal;
}
.infocontent .tx-ttaddress-pi1 ul li, .infocontent .tx-substaff ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.infocontent .tx-ttaddress-pi1 ul li, .infocontent .tx-substaff ul li {
  list-style-image: none;
  list-style-type: none;
}
.infocontent .tx-ttaddress-pi1 .singleAddress, .infocontent .tx-substaff .singleAddress {
  margin-bottom: 10px;
}

#pathline {
  padding: 1em 1em 1em 0;
  width: 75%;
  margin-left: 20%;
}
#pathline ol {
  margin-left: 1.3em;
}
#pathline ol li {
  display: inline;
}
#pathline ol li a {
  text-decoration: none;
}
#pathline ol li:after {
  content: " » ";
}
#pathline ol li:last-child {
  font-weight: bold;
}
#pathline ol li:last-child:after {
  content: "";
}

.centercontent {
  padding: 0 0 1% 2%;
  width: 78%;
  float: left;
  font-size: 1.2em;
  line-height: 1.8em;
}
.centercontent .csc-default {
  margin-bottom: 24px;
}
.centercontent.fullwidth {
  width: 76%;
}
.centercontent .smallWidth {
  width: 72%;
  float: left;
}
.centercontent .content a {
  text-decoration: underline;
}
.centercontent ul {
  padding-left: 2em;
}
.centercontent ul li {
  list-style-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/bullet.png");
}
.centercontent .tx-ttaddress-pi1 {
  width: 85%;
}
.centercontent .tx-ttaddress-pi1 .singleAddress {
  margin-bottom: 10px;
}
.centercontent .tx-ttaddress-pi1 .singleAddress h3 {
  padding: 0;
}
.centercontent .tx-ttaddress-pi1 .singleAddress span {
  font-size: 1em;
  line-height: 1.5em;
}
.centercontent .tx-ttaddress-pi1 img {
  padding: 0 0 5px 0;
}
.centercontent .tx-ttaddress-pi1 img .photo {
  float: right;
}
.centercontent .tx-ttaddress-pi1 ul {
  list-style-image: none;
  list-style-type: none;
  padding: 5px 5px 0 0;
  margin: 0;
  font-weight: normal;
}
.centercontent .tx-ttaddress-pi1 ul li {
  list-style-image: none;
  list-style-type: none;
}
.centercontent .infocontent {
  font-size: 0.8em;
  line-height: 1.875em;
}
.centercontent #q {
  width: 37.9em;
}

footer, #footer {
  background-color: #1a3771;
  padding: 3px 7px;
  color: white;
  font-size: 0.833em;
  line-height: 1.80072em;
}
footer li, #footer li {
  display: inline;
  margin: 0 10px 0 0;
}
footer a, #footer a {
  text-decoration: none;
  color: white;
}
footer a:hover, #footer a:hover {
  text-decoration: underline;
}
footer .footerleft, #footer .footerleft {
  float: left;
}
footer .footerright, #footer .footerright {
  float: right;
}
footer .footerright div, #footer .footerright div {
  display: inline;
}

.bottom li {
  list-style-type: none;
}
.bottom a {
  text-decoration: none;
  color: #1a3771;
}
.bottom a:hover {
  text-decoration: underline;
}
.bottom .bottommenu {
  float: left;
  margin-top: 5px;
  padding: 5px 0.5% 5px 0.5%;
  width: 24%;
}
.bottom .bottommenu .highlight {
  font-size: 1.1em;
  line-height: 1.36364em;
  color: #434343;
  font-weight: bold;
}
.bottom .bottommenu ul {
  margin-top: 5px;
}

#last {
  padding: 3px 5px;
  color: #434343;
  font-size: 0.833em;
  line-height: 1.80072em;
}
#last a {
  color: #1a3771;
}
#last a:hover {
  text-decoration: underline;
}
#last li {
  display: inline;
  margin: 0 10px 0 0;
  list-style-type: none;
}

.submenu {
  max-width: 100%;
}
.submenu ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}
.submenu ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
.submenu ul.submenu-l1 ul.js {
  display: none;
}
.submenu a {
  display: block;
  padding: 3px 6px;
  color: white;
  text-decoration: none;
}
.submenu a:visited {
  color: white;
}
.submenu a:focus {
  color: white;
}
.submenu a:hover {
  color: white;
}
.submenu a:active {
  color: white;
}
.submenu a:hover {
  background-color: #1a3771;
}
.submenu a.submenu-highlight-parent {
  background-color: #405680;
  border-bottom: 0;
}
.submenu .submenu-l1 {
  background-color: #6e7fa0;
}
.submenu .submenu-l1 > li {
  border-top: 1px solid #8d9ab4;
  border-bottom: 1px solid #434e66;
}
.submenu .submenu-l1 a {
  font-weight: bold;
}
.submenu .submenu-l1 a.submenu-selected {
  background-color: #1a3771;
  border-top: 1px solid #8d9ab4;
  border-bottom: 0;
}
.submenu .submenu-l1 a.submenu-selected > a:hover {
  background-color: transparent;
}
.submenu .submenu-l2 a {
  padding: 0.3em 6px;
  color: #1a3771;
  line-height: 1.3em;
  font-weight: normal;
}
.submenu .submenu-l2 a:visited {
  color: #1a3771;
}
.submenu .submenu-l2 a:focus {
  color: white;
}
.submenu .submenu-l2 a:hover {
  color: white;
}
.submenu .submenu-l2 a:active {
  color: white;
}
.submenu .submenu-l2 a.submenu-highlight {
  line-height: 1.3em;
  padding: 0.3em 5px;
}
.submenu .submenu-l2 li {
  background-color: #dee1e7;
}
.submenu .submenu-l2 .submenu-selected {
  background-color: #1a3771;
}
.submenu .submenu-l2 .submenu-selected > a {
  border-top: 0;
}
.submenu .submenu-l2 .submenu-selected > a:hover {
  background-color: transparent;
}
.submenu .submenu-l3 a {
  padding: 0.2em 6px 0.2em 1.5em;
  line-height: 1.2em;
}
.submenu .submenu-l3 a.submenu-highlight {
  padding: 0.2em 6px 0.2em 1.5em;
  width: 94%;
  color: white !important;
  background-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right_2.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2%;
}
.submenu .submenu-l4 a {
  padding: 0.2em 6px 0.2em 2.5em;
  line-height: 1.2em;
}
.submenu .submenu-l4 a.submenu-highlight {
  padding: 0.2em 6px 0.2em 2.5em;
  width: 87%;
  color: white !important;
  background-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right_2.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2%;
}
.submenu .submenu-trigger a {
  font-weight: bold;
  color: white;
  background-color: #6e7fa0;
}
.submenu .submenu-highlight {
  width: 100%;
  color: white !important;
  background-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/arrow_right_2.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 2%;
}
.submenu .submenu-selected {
  background-color: #1a3771;
}
.submenu .submenu-selected > a:hover {
  background-color: transparent;
}
.submenu .submenu-l2-actifsub {
  color: white !important;
  background-color: #1a3771 !important;
}
.submenu .submenu-l3-actifsub {
  color: white !important;
  background-color: #1f4186 !important;
}

.icon-facebook-sign {
  color: #3b5998;
}

.icon-twitter-sign {
  color: #00aced;
}

.sub-social i {
  margin-right: 4px;
}

.infobox__social ul {
  padding-left: 1em;
}
.infobox__social ul li {
  list-style-type: none;
  list-style-image: none !important;
  padding-bottom: 5px;
}
.infobox__social ul li i {
  font-size: 200%;
  vertical-align: middle;
  margin-right: 7px;
}

/* Extensions */
.tx-nkwsubmenu-pi2 p {
  margin: 0;
  padding: 5px;
}
.tx-nkwsubmenu-pi2 h6 {
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: #6e7fa0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  line-height: 1.5em;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-imagelistframe {
  overflow: hidden;
  padding: 8px;
  margin-right: 8px;
  text-align: center;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-imagelist {
  background-color: #dee1e7;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-imagelist img {
  border: 1px solid #000;
  margin-bottom: 2px;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-contentlist {
  background-color: #dee1e7;
  border-top-left-radius: 7px;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-contentlist ul {
  padding-right: 5px;
}
.tx-nkwsubmenu-pi2 #tx-nkwsubmenu-pi2-keywordlist {
  background-color: #dee1e7;
}

/* Solr */
.tx-solr #tx-solr-search .results-list {
  margin: 0;
}
.tx-solr #tx-solr-search .results-list > li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding-top: 8px;
  min-height: 30px;
}
.tx-solr #tx-solr-search .results-list > li:hover {
  background-color: #dee1e7;
}
.tx-solr #tx-solr-search .results-list > li:hover .results-highlight {
  background-color: #6e7fa0;
  color: white;
}
.tx-solr #tx-solr-search .results-list > li img.photo {
  float: right;
  height: 70px;
}
.tx-solr #tx-solr-search .results-entry {
  border-bottom: 1px solid #dee1e7;
}

#tx-solr-search-form-pi-results {
  position: relative;
}
#tx-solr-search-form-pi-results ul {
  left: 0 !important;
  margin-left: 0;
  background-color: white;
  z-index: 9999 !important;
  padding-left: 18px;
  border-bottom: 1px solid #6e7fa0;
  border-right: 1px solid #6e7fa0;
  border-left: 1px solid #6e7fa0;
  width: 380px !important;
  margin-top: 3px !important;
  padding-top: 7px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  position: absolute;
}
#tx-solr-search-form-pi-results ul .ui-state-hover {
  margin-bottom: 2px;
  font-weight: bold;
}
#tx-solr-search-form-pi-results ul a.ui-corner-all {
  border: 0 !important;
}
#tx-solr-search-form-pi-results .tx-solr-q {
  width: 400px;
  height: 28px;
  padding: 0 3px !important;
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.results-topic a {
  border-bottom: none !important;
  text-decoration: none !important;
  font-weight: bold;
}

#tx-solr-sorting {
  background-color: #dee1e7;
}
#tx-solr-sorting h6 {
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: #6e7fa0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  font-size: 1em;
  line-height: 1.5em;
}
#tx-solr-sorting ul {
  padding: 5px 0 10px 20px;
}

#tx-solr-faceting {
  background-color: #dee1e7;
}
#tx-solr-faceting h3 {
  font-weight: bold;
  color: white;
  padding: 5px;
  background-color: #6e7fa0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}
#tx-solr-faceting div .facet-label {
  padding: 5px;
  font-weight: bold;
}

#tx-solr-facets-available li {
  list-style-type: none;
}
#tx-solr-facets-available ul {
  margin: 0 10px 10px 0;
}
#tx-solr-facets-available h3 {
  font-size: 1em;
  line-height: 1.5em;
}

#tx-solr-facets-in-use h5 {
  padding: 5px;
}
#tx-solr-facets-in-use ul {
  padding-left: 20px !important;
  margin: 0;
}

.tx-solr .results-highlight {
  background-color: #dee1e7;
  padding: 1px 2px;
  border-radius: 3px;
}

.tx-solr-q {
  width: 80%;
  padding: 3px;
}

#tx-solr-search-form-pi-results {
  margin-bottom: 10px;
}

.facet li {
  list-style-type: circle !important;
  margin-left: 10px;
}
.facet ul {
  padding: 0 0 10px;
}

.results-info {
  font-size: 0.83em;
  line-height: 1.80723em;
}

.tx-solr-relevance-bar {
  width: 100px;
  height: 5px;
  border: 1px solid #ccc;
  font-size: 1px;
  padding: 1px;
  top: -7px;
  position: relative;
}

.tx-solr-relevance,
.tx-solr-relevance-fill {
  margin-right: 0 !important;
  height: 5px;
  padding: 0;
}

.tx-solr-relevance {
  background-color: #93a8cf;
}

.tx-solr-relevance-fill {
  display: none;
}

.results-teaser p {
  font-size: 0.83em;
  line-height: 1.80723em;
  line-height: 141%;
}

/* powermail */
.tx-powermail-pi1 {
  color: #434343;
}
.tx-powermail-pi1 .powermail_all_td {
  padding: 4px;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset legend {
  white-space: normal;
  color: #434343;
  font-weight: bold;
}
.tx-powermail-pi1 label {
  width: 200px;
  clear: both;
  float: left;
}
.tx-powermail-pi1 .tx_powermail_pi1_fieldwrap_html {
  margin: 10px 0;
}
.tx-powermail-pi1 input {
  margin-left: 0;
  border: 1px solid #cccccc;
  padding: 3px;
  width: 300px;
  color: #434343;
}
.tx-powermail-pi1 input.powermail_submit .tx-powermail-pi1_confirmation {
  width: auto;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/button_shade_large.png") repeat-x scroll 0 100% #f3f6fb;
  border-style: solid;
  margin-left: 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  line-height: 100%;
  padding: 3px 12px !important;
  float: left;
  height: 28px;
  color: #434343;
}
.tx-powermail-pi1 input.tx-powermail-pi1_confirmation, .tx-powermail-pi1 input.tx-powermail-pi1_mandatory_submit {
  width: auto;
  border: 1px solid #434343;
  border-width: 1px;
  border-color: #d4d4d4 #b4b4b4 #b4b4b4 #d4d4d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/button_shade_large.png") repeat-x scroll 0 100% #f3f6fb;
  border-style: solid;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  line-height: 100%;
  padding: 3px 12px !important;
  height: 28px;
  color: #434343;
}
.tx-powermail-pi1 textarea {
  margin-left: 0;
  border: 1px solid #cccccc;
  padding: 3px;
  width: 300px;
  color: #434343;
}
.tx-powermail-pi1 select {
  margin-left: 0;
  border: 1px solid #cccccc;
  padding: 3px;
  width: 300px;
  color: #434343;
}
.tx-powermail-pi1 .powermail_all_td {
  padding: 4px;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset_ihrebuchpatenschaft select {
  width: 308px;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset_ihrebuchpatenschaft legend {
  display: none;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset_15 legend {
  display: none;
}
.tx-powermail-pi1 .powermail_all .powermail_all_table {
  width: 555px;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset {
  margin: 4px;
  padding: 8px !important;
}
.tx-powermail-pi1 .tx-powermail-pi1_fieldset legend {
  padding-top: 8px;
}
.tx-powermail-pi1 label {
  font-weight: normal !important;
}

.tx_powermail_pi1_fieldwrap_html_date input {
  width: 100px;
}

.tx-powermail-pi1_confirmation input, .tx-powermail-pi1_mandatory_submit input {
  width: 150px;
  border: 1px solid #93a8cf;
  background-color: #dee1e7;
  margin: 3px 0;
  color: #434343;
}

.tx_powermail_pi1_fieldwrap_html_submit {
  clear: both;
  float: left;
}

.powermail_radio_inner, .powermail_check_inner {
  margin: 8px 0;
}
.powermail_radio_inner input, .powermail_check_inner input {
  clear: none !important;
  width: 30px;
}

.tx-powermail-pi1_fieldset_ihrebuchpatenschaft legend {
  display: none;
}

.tx-powermail-pi1_fieldset_15 legend {
  display: none;
}

.tx-powermail-pi1_fieldset_ihrebuchpatenschaft select {
  width: 308px;
}

.powermail_all .powermail_all_table {
  width: 555px;
}

.tx_powermail_pi1_fieldwrap_html_checkbox_title {
  padding-top: 0 !important;
  font-weight: normal !important;
}

.tx_powermail_pi1_fieldwrap_html_radio_title {
  padding-top: 0 !important;
  font-weight: normal !important;
}

span.powermail_mandatory {
  padding-left: 3px;
}

.tx-powermail-pi1 h3 {
  padding-top: 8px;
}

fieldset.tx-powermail-pi1_fieldset textarea:focus, fieldset.tx-powermail-pi1_fieldset input:focus:not([type="submit"]) {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #434343;
  box-shadow: none;
  color: #434343;
}

.powermail_uid177, .powermail_uid178 {
  width: 20px !important;
  text-align: center;
}

/* Pazpar2 */
.pz2-pager .pz2-pageNumbers {
  margin-right: 0 !important;
}

#pazpar2 {
  color: #434343;
}
#pazpar2 #pz2-results ol.pz2-resultList .pz2-details li {
  margin-right: 5px;
}
#pazpar2 .pz2-fieldsets fieldset {
  position: relative;
  border: 1px solid #CCC;
  margin: 8px 0 0 0;
}
#pazpar2 .pz2-fieldsets legend {
  margin-left: 6px;
  padding: 0 0 0 4px;
}
#pazpar2 .pz2-prev:after, #pazpar2 .pz2-next:after {
  top: 0.1em;
}
#pazpar2 .pz2-detail-catalogueLink:after {
  top: 0.2em;
}
#pazpar2 .pz2-termList-medium .pz2-mediaIcon {
  top: 0px;
}
#pazpar2 .pz2-fieldsets ul {
  padding: 0 !important;
}
#pazpar2 .pz2-fieldset-replacement {
  margin-left: -12px;
  font-weight: bold;
}
#pazpar2 .pz2-recordLink {
  border-bottom: 0 !important;
}
#pazpar2 .pz2-progressIndicator {
  display: none;
}
#pazpar2 ul li {
  list-style-type: none !important;
  list-style-image: none !important;
}
#pazpar2 .pz2-resultList li {
  line-height: 130%;
  list-style-image: none !important;
}
#pazpar2 a {
  border-bottom: 0 !important;
}
#pazpar2 .id-neaac2000 {
  float: right;
  width: 350px;
  margin: 0 0 0 10px !important;
}
#pazpar2 .id-neaac4000, #pazpar2 .id-neaac5000, #pazpar2 .id-neaac3000 {
  width: 350px;
}

.pz2-neuerwerbungen #pz2-results {
  margin-right: 0 !important;
}
.pz2-neuerwerbungen #pz2-termLists {
  display: none;
}

.tx-nkwsitemap-pi1 ul {
  padding: 0 0 0 20px !important;
}

.rootNode .GOKID {
  left: -0.5em !important;
}

#c2644-GOK-Root {
  display: none;
}

#tx_nkwgok-2644 .rootNode {
  display: none;
}

.gokContainer ul {
  padding: 0 !important;
}

.tree a {
  border-bottom: 0;
}
.tree a .GOKID {
  left: -2.5em;
}

.gokContainer.tree a .GOKID, .gokContainer.tree ul .rootNode .GOKID {
  left: -2.5em !important;
}

.tx-pagebrowse-pages ol li {
  margin-right: 5px;
}

/* Pagebrowser */
.tx-pagebrowse-pi1 ol {
  display: inline;
}
.tx-pagebrowse-pi1 li {
  display: inline;
  list-style-type: none;
}

.tx-nkwgmaps-border {
  width: 100%;
  height: 500px;
  border: 1px solid #999;
}

.tx-nkwgmaps-directionspanel {
  display: none;
  overflow: auto;
}

.csc-textpic-caption {
  font-size: 0.6em;
  line-height: 2.5em;
  max-width: 120px;
}

.csc-textpic-intext-left img {
  padding-bottom: 0;
  margin: 5px 0 0 0;
  max-width: 100%;
}
.csc-textpic-intext-left ol {
  padding-left: 20px !important;
}
.csc-textpic-intext-left ul {
  padding-left: 20px !important;
}
.csc-textpic-intext-left .csc-textpic-caption {
  padding: 2px 0;
  text-align: left;
}

.csc-textpic-intext-right img {
  padding-bottom: 0;
  margin: 5px 0 0 0;
}
.csc-textpic-intext-right .csc-textpic-caption {
  padding: 2px 0 2px 0;
  text-align: left;
}

.tx_nkwkeywords .sub-az dd {
  background-image: url("/typo3conf/ext/tmpl_sub/Resources/Public/Img/bullet.png");
  padding-left: 12px;
  line-height: 1.7em;
  background-repeat: no-repeat;
  margin-left: 8px;
  background-position-y: 23%;
}
.tx_nkwkeywords .sub-az dt {
  color: #626262;
  margin: 10px 0;
}
.tx_nkwkeywords .sub-az .letterNavi span.pipe {
  color: #dedede;
}
.tx_nkwkeywords .sub-az .letterNavi a {
  text-decoration: none !important;
}

.substaff-contact {
  font-size: 1em;
  line-height: 1.5em;
  margin-left: 0 !important;
  color: #434343;
  margin-bottom: 21px;
}
.substaff-contact ul {
  margin-left: 0 !important;
}
.substaff-contact li {
  list-style-type: none;
  list-style-image: none !important;
}

.news .news-latest-container {
  padding: 0 !important;
  font-family: "\f031";
  font-size: 1.16em;
  line-height: 1.2931em;
  color: #434343;
}
.news .news-latest-container img {
  float: left;
  margin-right: 8px;
}
.news .news-latest-container .clearer {
  visibility: hidden;
  margin: 4px 0;
}
.news .news-list-view .teaser-text p {
  margin-bottom: 0;
}

#dataTable .odd {
  background-color: #dee1e7;
}
