<span id="top"></span>

<div id="wrap" data-role="page">

	<header id="header" class="page-header" data-role="header">
		<f:link.page pageUid="1" class="link-home"><h1>Niedersächsische Staats-und Universitätsbibliothek Göttingen</h1></f:link.page>
		<f:render partial="Header" />
	</header>
	<div id="headerline" class="header-line">
		<f:link.page additionalParams="{L:\"{f:translate(key:'page.language.switchId')}\"}" addQueryString="TRUE"><f:translate key="page.language" /></f:link.page>
	</div>

	<f:render section="Body" />

	<f:render section="Footer" />

	<f:render section="Bottom" />

	<div id="last" role="contentinfo">
		<f:format.html><f:translate key="page.lastChanged" /> <f:cObject typoscriptObjectPath="lib.lastChanged" /></f:format.html>
	</div>
</div>
