<div class="footer">

	<div class="footer_bar">
		<div class="footer_left">
			<f:cObject typoscriptObjectPath="lib.fleft" />
		</div>
		<div class="footer_right">
			<!-- Link to top -->
			<f:link.page section="top" noCacheHash="true"><f:translate key="page.toTop" /></f:link.page>
			|{pageUid}
			<!-- Feedback -->
			<f:link.page pageUid="290" noCacheHash="true" rel="nofollow" additionalParams="{tx_nkwuserfeedback:{page:'{currentPid}'}}">
				<f:translate key="page.feedBack" />
			</f:link.page>

			<!-- Permalink -->

			<f:cObject typoscriptObjectPath="lib.fright" />
		</div>
	</div>

	<div class="footer_links">
	    <f:for each="{0:1, 1:2, 2:3, 3:4}" as="index">
	        <div class="footer_column">
	            <h6><f:translate key="page.bottom{index}" /></h6>
	            <f:cObject typoscriptObjectPath="lib.bottom{index}" />
	        </div>
	    </f:for>
	</div>

	<div class="footer_colophon" role="contentinfo">
		<f:format.html><f:translate key="page.lastChanged" /> <f:cObject typoscriptObjectPath="lib.lastChanged" /></f:format.html>
	</div>

</div>
