<header class="header" data-role="header">
	<button class="header_toggle-nav" title="Navigation"><f:translate key="page.menu" /></button>
	<div class="header_logo" role="banner">
		<f:link.page pageUid="1">
			<f:cObject typoscriptObjectPath="lib.pageHeader"/>
		</f:link.page>
	</div>
	<f:cObject typoscriptObjectPath="tt_content.list.20.subtabs_tabs" />
	<div class="header_bar">
		<div class="breadcrumbs" role="navigation">
			<f:cObject typoscriptObjectPath="lib.rootline" />
		</div>
		<div class="header_language">
			<f:link.page additionalParams="{L:\"{f:translate(key:'page.language.switchId')}\"}" addQueryString="TRUE"><f:translate key="page.language" /></f:link.page>
		</div>
	</div>
	<f:cObject typoscriptObjectPath="lib.BIGPICTURE" />
</header>
