{namespace fed=Tx_Fed_ViewHelpers}
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" media="screen" href="http://feeds.feedburner.com/~d/styles/itemcontent.css"?>
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:wfw="http://wellformedweb.org/CommentAPI/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" xmlns:slash="http://purl.org/rss/1.0/modules/slash/" version="2.0">
	<channel>
		<title>News</title>
		<link>http://www.sub.uni-goettingen.de</link>
		<description>SUB Goettingen RSS Feed</description>
		<language>de</language>
		<sy:updatePeriod>hourly</sy:updatePeriod>
		<sy:updateFrequency>1</sy:updateFrequency>

		<f:for each="{rssFeed}" as="rss">
			<f:if condition="{rss.rssTitle}">
				<item>
					<title>{rss.rssTitle}</title>
					<link>{rss.rssLink}</link>
					<pubDate>{rss.rssCrdate}</pubDate>
					<description>{rss.rssDescription}</description>
					<content:encoded>{rss.rssBody}</content:encoded>
				</item>
			</f:if>
		</f:for>
	</channel>
</rss>