@mixin button {
	@include transition(background, color);
	background: $button-bg;
	border: 0 !important;
	border-radius: $br;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	line-height: $line-height;
	padding: (.5 * $grid) $grid;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 $shadow-dark;
	vertical-align: top;
	white-space: nowrap;

	@include hover {
		background: $button-bg-hover;
		transition-duration: $transition-duration-out;
	}
}
