@mixin button {
	@include auto-color-for($link-color);
	@include transition(background, color);
	background: $button-bg-color;
	border: 0 !important;
	border-radius: $br;
	cursor: pointer;
	display: inline-block;
	font-size: $font-size;
	line-height: $line-height;
	padding: (.5 * $grid) $grid;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;

	@include hover {
		@include auto-color-for($button-hover-bg-color);
		background: $button-hover-bg-color;
	}
}

@mixin text-input {
	@include transition(background, border-color, color);
	background: $input-bg-color;
	border: $border-width solid $border-color;
	border-radius: $br;
	display: block;
	line-height: $grid;
	padding: (.5 * $grid) .5em;
	width: 75%;

	&:focus {
		border-color: $link-color;
		box-shadow: 0 0 5px rgba($link-hover-color, .5);
	}
}
