@mixin row {
	@extend %clearfix;
	margin-left: -$grid;
	margin-right: -$grid;
}

@mixin column($width: 0, $unfloat-breakpoint: false) {
	float: left;
	padding-left: $grid;
	padding-right: $grid;

	@if $width != 0 {
		width: $width;
	}

	@if $unfloat-breakpoint {
		@include respond-to($unfloat-breakpoint) {
			display: block;
			float: none;
			width: 100%;
		}
	}
}
