@mixin horizontal-list {
	list-style: none;
	padding: 0;

	> li {
		display: block;
		float: left;
		padding-left: .25em;

		> a {
			border-radius: $br;
			margin-left: .25em;
			text-align: center;
		}
	}

	a {
		min-width: $grid * 2;

		@include hover {
			background: $brand-color-lighter;
		}
	}
}
