@mixin link($with-border: true, $on-dark-background: false) {
	$bg-color: if($on-dark-background, $link-hover-bg-color-dark, $link-hover-bg-color);

	@include transition(background);
	margin: -.05em 0;
	padding: .05em 0;

	@if $with-border {
		box-shadow: 0 -.35em 0 $bg-color inset;
	} @else {
		box-shadow: none;
	}

	@if $on-dark-background {
		box-shadow: none;
		color: $white;
	}

	@include hover {
		background: $bg-color;
		transition-duration: $transition-duration / 2;

		@if $on-dark-background {
			color: $white;
		}
	}
}
