@mixin link($with-border: true, $on-dark-background: false) {
	$bg-color: if($on-dark-background, $link-hover-bg-color-dark, $link-hover-bg-color);

	@include transition(background);
	padding: 1px 0;

	@if $with-border {
		box-shadow: 0 -6px 0 $bg-color inset; // depends on font metrics
	} @else {
		box-shadow: none;
	}

	@if $on-dark-background {
		box-shadow: none;
		color: $white;
	}

	@include hover {
		background: $bg-color;

		@if $on-dark-background {
			color: $white;
		}
	}
}
