@mixin horizontal-list {
	list-style: none;
	padding: 0;

	> li {
		display: block;
		float: left;
		padding-left: .25em;

		> a {
			border-radius: $br;
			margin-left: .25em;
			text-align: center;
		}
	}

	a {
		min-width: $grid * 2;

		@include hover {
			background: $pale-color-light;
		}
	}
}

@mixin navigation {
	@include horizontal-list;

	a {
		display: block;
		padding: (.5 * $grid);
	}

	li {
		position: relative;
	}

	> li > a {
		float: left;
	}

	> li + li:before {
		background: linear-gradient(to bottom, rgba(black, 0), rgba(black, .18), rgba(black, 0));
		content: '';
		left: .25em;
		height: 100%;
		position: absolute;
		width: $border-width;
	}

	.-current > a {
		background: $pale-color;
		color: $text-color;
	}

	.-disabled > a {
		color: $pale-color;

		@include hover {
			background: inherit;
			color: $pale-color;
			cursor: default;
		}
	}
}

@mixin breadcrumbs {
	color: $text-color-light;
	list-style: none;
	padding: 0;

	li {
		display: inline;
	}

	li + li {
		@include icon('angle-right');
		margin-left: .5em;
	}
}
