@mixin navigation {
	@include horizontal-list;

	a {
		display: block;
		padding: (.5 * $grid);
	}

	li {
		position: relative;
	}

	> li > a {
		float: left;
	}

	> li + li:before {
		background: linear-gradient(to bottom, rgba(black, 0), rgba(black, .18), rgba(black, 0));
		content: '';
		left: .25em;
		height: 100%;
		position: absolute;
		width: $border-width;
	}

	.-current > a {
		background: $pale-color;
		color: $text-color;
	}

	.-disabled > a {
		color: $pale-color;

		@include hover {
			background: inherit;
			color: $pale-color;
			cursor: default;
		}
	}
}
